<?php
echo $this->doctype();
$siteName= 'WU Manager';
$admin = false;
$logoUrl = $this->basePath().'/img/logo.png';

use Application\Model\Application;
use Application\Model\People;
use Application\Model\Acl;

$currentUser = People\CurrentUser::get();
if( isset($currentUser->appacl) && $currentUser->appacl->hasRight(Acl\Application::RIGHT_ADMIN)){
	$admin = true;
}
elseif( isset($currentUser->wumacl) && $currentUser->appacl->hasRight(Acl\Application::RIGHT_MANAGE)){
    $manager = true;
}

$baseurl = $this->url('index');
?>

<html lang="fr">
<head>
<meta layout="wumanager/view/layout/layout.phtml">
<meta http-equiv="Cache-Control" content="public">
<meta charset="utf-8">
<?php echo $this->headTitle($siteName)->setSeparator(' - ')->setAutoEscape(false) ?>

<?php echo $this->headMeta()
			->appendName('viewport', 'width=device-width, initial-scale=1.0')
			->appendHttpEquiv('X-UA-Compatible', 'IE=edge')
?>

<!-- Le styles -->
<?php echo $this->headLink(array('rel' => 'shortcut icon', 'type' => 'image/vnd.microsoft.icon', 'href' => $this->basePath() . '/img/favicon.png'))
->prependStylesheet($this->basePath() . '/css/datepicker/datepicker3.css')
->prependStylesheet($this->basePath() . '/bootstrap/css/bootstrap-theme.min.css')
->prependStylesheet($this->basePath() . '/css/jquery-ui.min.css')
->prependStylesheet($this->basePath() . '/bootstrap/css/bootstrap.min.css')
->prependStylesheet($this->basePath() . '/css/application.css')
?>

<!-- Scripts -->
<?php echo $this->headScript()
->prependFile($this->basePath() . '/js/datepicker/bootstrap-datepicker.js')
->prependFile($this->basePath() . '/bootstrap/js/bootstrap.min.js')
->prependFile($this->basePath() . '/js/jquery-ui/jquery-ui.min.js')
->prependFile($this->basePath() . '/js/jquery/jquery.min.js')
->prependFile($this->basePath() . '/js/respond.min.js', 'text/javascript', array('conditional' => 'lt IE 9',))
->prependFile($this->basePath() . '/js/html5shiv.js', 'text/javascript', array('conditional' => 'lt IE 9',))
->prependFile($this->basePath() . '/js/wumanager.js')
->prependFile($this->basePath() . '/js/application.js')
?>

<script>
var wumanager = new wumanager();
wumanager.baseUrl = "<?php echo $this->url('wumanager') ?>/";
$(function() {
	wumanager.init($('body').first());
});
</script>

<style>
.rb-feedbacks{
	position: fixed;
	top: 60px;
	right:20px;
	width: 700px;
	z-index:5000;
}
.rb-ajax-error{
	width: 700px;
	z-index:5000;
}
.rb-ajax-feedback{
	width: 700px;
	z-index:5000;
}
.rb-feedbacks-msg{
	overflow: scroll;
}
</style>

</head>
<body>

<div class="rb-feedbacks">
	<div class="alert alert-danger alert-dismissible fade in" id="rb-ajax-error" role="alert" style="display:none;">
		<button type="button" class="close" data-dismiss="alert" aria-label="Close">
		<span aria-hidden="true">&times;</span>
		</button>
	
		<div class="rb-feedbacks-msg"><span id="message"></span></div>
	</div>
	
	<div class="alert alert-success alert-dismissible fade in" id="rb-ajax-feedback" role="alert">
		<div class="rb-feedbacks-msg"><span id="message"></span></div>
	</div>
</div>

<nav class="navbar navbar-default navbar-inverse navbar-fixed-top" role="navigation">
	<div class="container-fluid">
		<div class="navbar-header">
			<div class="btn-group" style="margin-top:8px;">
				<span class="">
					<a class="navbar-brand" href="<?php echo $this->url('wumanager') ?>">
						<?php echo $siteName?>
					</a>
				</span>

				<button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
					<span class="caret"></span>
				</button>

				<ul class="dropdown-menu multi-level" role="menu" aria-labelledby="dropdownMenu">
					<li><a href="<?php echo $this->url('wumanager') ?>">Wumanager</a></li>
					<li><a href="<?php echo $this->url('siergate') ?>">SierGate</a></li>

					<li class="divider"></li>

					<?php if($admin): include 'module/Application/view/fragments/adminMenu.phtml';?>
					<?php endif; ?>
				</ul>
			</div>
		</div>
		<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
			<form class="navbar-form navbar-left" role="search" name="contentfilterform" id="contentfilterform"
					action="<?php echo $this->url('wumanager') ?>" method="GET">
				<div class="form-group">
					<input type="hidden" name="filteractif" value=1 />
					<input type="text" name="search" value="<?php echo $this->filteroptions['search'] ?>"
						class="form-control"
						placeholder="<?php echo $this->translate('search')?>">
				</div>
				<button class="btn glyphicon glyphicon-search" type="submit" name="filter"></button>
			</form>

			<ul class="nav navbar-nav navbar-right">
				<li class="dropdown">
					<!-- user dropdown menu -->
					<a href="#" class="dropdown-toggle" data-toggle="dropdown">
						<?php echo $currentUser->getLogin() ?>
						<span class="glyphicon glyphicon-user"></span>
						<span class="caret"></span>
					</a>
					<ul class="dropdown-menu" role="menu">
						<li><a href="#"><?php echo $this->translate('Connected as').' '.$currentUser->getLogin();?>
						</a></li>
						<li><a href="<?php echo $this->url('auth/login') ?>"><?php echo $this->translate('Connect')?>
						</a></li>
						<li><a href="<?php echo $this->url('auth/logout') ?>"><?php echo $this->translate('Logout')?>
						</a></li>
					</ul>
				</li>

				<li class="dropdown">
					<!-- info dropdown menu --> <a href="#" class="dropdown-toggle" data-toggle="dropdown">
					<span class="glyphicon glyphicon-info-sign"></span><span class="caret"></span>
					<ul class="dropdown-menu" role="menu">
						<li><a
							href="<?php echo $this->url('index', array('controller'=>'index', 'action'=>'help')) ?>"><?php echo $this->translate('Help')?>
						</a></li>

						<li><a
							href="<?php echo $baseurl?>apidoc/index.html"><?php echo $this->translate('Api Documentation')?>
						</a></li>

						<li><a
							href="https://bitbucket.org/ocyssau/rbportail/issues"><?php echo $this->translate('Bugs and Enhancement')?>
						</a></li>

						<li><a
							href="<?php echo $this->url('index', array('controller'=>'index', 'action'=>'about')) ?>"><?php echo $this->translate('About '.$siteName)?>
						</a></li>

						<li><a href="#"><?php echo date( 'd/m/Y-H:i:s', time() )?> </a></li>
					</ul>
				</li>
			</ul>
		</div>
		<!-- /.navbar-collapse -->
	</div>
	<!-- /.container-fluid -->
</nav>

 <main class="bs-docs-masthead" id="content" role="main">
	<div class="container" style="padding: 60px 0px 0px 0px;">
		<?php echo $this->navigation('navigation')->breadcrumbs()->setMinDepth(1);?>
		<?php echo $this->content; ?>
	</div>
	</main>

	<!-- Footer ================================================== -->
	<footer class="rb-footer" role="contentinfo">
		<div class="container">
			<p>
				<a href="https://bitbucket.org/ocyssau/rbportail" title="Rb PortailRB" target="_blank">
				Rb Portail
				<?php echo Application::getCopyright();?>
				</a>
			</p>
		</div>
		<div class="container">
			<p>
				<a href="http://getbootstrap.com/" target="_blank">bootstrap/</a>
				<a href="http://jqueryui.com/" target="_blank">jquery UI/</a>
				<a href="http://jquery.com/" target="_blank">jquery/</a>
				<a href="http://framework.zend.com/manual/2.3/en/index.html" target="_blank">Zf2/</a>
			</p>
		</div>
	</footer>

	<!-- Bootstrap core JavaScript ================================================== -->
	<!-- Placed at the end of the document so the pages load faster -->
	<?php echo $this->inlineScript() ?>

</body>
</html>
