<?php 
use Application\Model\Acl;
use Application\Model\People;
$siteName= 'Workflow Activities Instances';
$currentUser = People\CurrentUser::get();
$username = $currentUser->getLogin();
$logoUrl = $this->basePath('img/logo.png');
?>

<script>
$(function(){
	var orderby = "<?php echo $orderby?>";
	var order = "<?php echo $order?>";
	var url = "<?php echo $_SERVER['REDIRECT_URL']?>";
	initSortableHeader(orderby, order, url);
});

function goInto(id){
	var url = "<?php echo $this->url('ainstance', array('action'=>'edit'))?>"+id;
	window.open(url,"_self");
}

function deleteInstance(id){
	var ok = confirm('Are you Sure?');
	if(ok == true){
		$url = "<?php echo $this->url('ainstance', array('action'=>'delete'))?>"+id;
		window.open($url,"_self");
	}
}
</script>

<?php
function displaylist($headers, $list, $view, $mode='consult'){
	$currentUser = People\CurrentUser::get();
?>

<table class="table">
	<tr>
		<?php
		foreach($headers as $h=>$p):
			echo '<th data-field="'.$p.'" class="sortable"><span class="glyphicon"></span>'.$h.'</th>';
		endforeach;
		echo '<th></th>';
		?>
		<?php
		foreach($list as $item):
			$id = $item['id'];
			$uid = $item['uid'];
			echo '<tr>';
			foreach($headers as $h=>$p):
				echo '<td>'.$item[$p].'</td>';
			endforeach;
			?>
			<td nowrap style="width:95px;">
				<div class="btn-group btn-group-xs project-btn" role="group" aria-label="...">
					<button type="button" class="btn btn-danger delete-btn" id=""
						onclick="deleteInstance(<?php echo $id ?>);">
						<?php echo $view->translate('Delete') ?>
					</button>
				</div>
			</td>
			<?php 
			echo '</tr>';
		endforeach;
		?>

</table>
<?php } ?>

<div class="jumbotron">
	<h1>
		<img src="<?php echo $logoUrl?>" />
		<?php echo sprintf($this->translate('%s'.$siteName.'%s'), '<span class="">', '</span>') ?>
	</h1>
</div>

<div class="row">
	<div class="col-md-12">
		<div class="panel panel-default">
			<div class="panel-heading" style="height:42px;">
			</div>
			<div class="panel-body">
				<div class="">
					<div class="panel-filter" style="padding:0;margin:2px;position:absolute;left:20px;top:0px;">
						<?php echo $this->filter->render($this)?>
					</div>
					<div class="panel-pagination" style="padding:0;margin:2px;position:absolute;left:600px;top:0px;">
						<?php echo $this->paginator->render($this)?>
					</div>
				</div>
				<?php displaylist($headers, $list, $this); ?>
			</div>
		</div>
	</div>
</div>

