<?php
$id = 'importProcess';
$formId = $id.'-form';
$title = 'Import Process';
?>

<script>
$(function(){
});
</script>

<style>
.panel-heading{
	padding-top:5px;
	padding-bottom:10px;
}
.panel-heading h1,h2,h3,h4{
	margin:5px;
}
.panel-body{
	padding-left:50px;
}
</style>

<?php
$this->headTitle($title);
?>

<?php
$form = $this->form;
$form->setAttributes(array(
	'class'=>'form-horizontal',
	'id'=>$formId
));
$form->prepare();
?>

<?php
echo $this->form()->openTag($form);
?>

<div class="panel panel-default">
	<div class="panel-heading" style="height:60px;">
		<div class="row">
			<div class="col-md-4">
			</div>
			<div class="col-md-4">
				<div class="center-block">
				<h1><?php echo $this->escapeHtml($title); ?></h1>
				</div>
			</div>
			<div class="col-md-4">
			</div>
		</div>
	</div>
	
	<div class="panel-body">
		<div class="row">
			<div class="form-group col-sm-4">
			<?echo $this->formRow($form->get('file'));?>
			</div>
		</div>
		
		<div class="pull-right">
		<?php echo $this->formSubmit($form->get('submit')
			->setAttribute('class', 'btn btn-success')
			->setAttribute('id', $saveBtnId)
			);?>
		</div>
	</div>
</div>
<?php echo $this->form()->closeTag();?>
