<?php
use Application\Model\People;

$siteName= 'WU Consultation';
$currentUser = People\CurrentUser::get();
$username = $currentUser->getLogin();
$logoUrl = $this->basePath('img/logo.png');
?>

<style>
.process-graph{
	position:relative;
	display: inline-block;
	top:0px;
	left:20px;
	z-index:9999;
	background-color:grey;
}
.process-img{
	cursor:zoom-out;
}
.process-img-mini{
	cursor:zoom-in;
}
tbody{
    overflow:auto;
}
</style>

<script>
$(function(){
	var orderby = "<?php echo $orderby?>";
	var order = "<?php echo $order?>";
	var url = "<?php echo $this->url('wumanager')?>";
	initSortableHeader(orderby, order, url);

	$(".enter-btn").click(function(e){
		var id = $(this).data('id');
		var url = "<?php echo $this->url('workunit', array('action'=>'index'))?>"+id;
		window.open(url,"_self");
	});

	$(".rbp-status-select").click(function(e){
		var wuid = $(this).data('wuid');
		var url = "<?php echo $this->basePath("wumanager/process/getnextactivity")?>/"+wuid;
		wumanager.selectActivity(url);
	});

	$("#contextfilter").change(function(e){
		$(this).submit();
	});

	wumanager.initStatusBtn($(".rbp-status-select"));
});

function getHistory(id){
	var url = "<?php echo $this->url('workunit', array('action'=>'gethistory'))?>"+id;
	window.open(url,"_self");
}

function runActivity(activityId, procInstId, type){
	if(type=='standalone'){
		$url = "<?php echo $this->url('wuprocess', array('action'=>'runstandalone'));?>"+activityId+"?aid="+activityId+"&pid="+procInstId;
	}
	else{
		$url = "<?php echo $this->url('wuprocess', array('action'=>'runactivity'))?>"+activityId+"?aid="+activityId+"&pid="+procInstId;
	}
	window.open($url,"_self");
}
</script>

<?php
function displaylist($headers, $list, $view, $mode='consult'){
	$currentUser = People\CurrentUser::get();
?>

<table class="table">
	<thead><tr>
		<?php
		foreach($headers as $p):
			$label = $p['label'];
			$isSortable  = $p['sortable'];
			$sysName = $p['sysName'];
			if($isSortable){
				echo '<th data-field="'.$sysName.'" class="sortable"><span class="glyphicon"></span>'.$label.'</th>';
			}
			else{
				echo '<th data-field="'.$sysName.'">'.$label.'</th>';
			}
		endforeach;
		echo '<th></th>';
		?>
	</tr></thead>
	<tbody>
		<?php
		foreach($list as $item):
			$id = $item['id'];
			$uid = $item['uid'];
			echo '<tr>';
			foreach($headers as $p):
				$sysName = $p['sysName'];
				if($sysName=='status'){
					if(isset($item['status'])){
						$label = $item['status'];
					}
					else{
						$label = 'init';
					}
					$progression = $item['progression'];
					$element = clone $view->statusSelect;
					$element->setAttribute('class', 'rbp-status-select btn btn-sucess');
					$element->setAttribute('data-progression', $progression);
					$element->setValue($item[$sysName]);
					$element->setLabel($label);
					$element->setAttribute('data-wuid', $id);
					?>
					<td class="status">
					<?php echo $view->formElement($element);?>
					<?php if($progression):?>
					<div class="progress" style="height:20px;width:50px;">
						<div class="progress-bar" role="progressbar" aria-valuenow="<?php echo $progression?>" aria-valuemin="0" aria-valuemax="100" style="width: <?php echo $progression?>%;">
						<?php echo $progression?>%
						</div>
					</div>
					<?php endif;?>
					</td>
					<?php
				}
				elseif($sysName=='comment'){
				?>
					<td>
					<?php echo $item[$sysName]?>
					<a href="<?php echo $view->url('wumanager')?>/workunit/index/<?php echo $id?>#discussion">...</a>
					</td>
				<?php
				}
				else{
					echo '<td>'.$item[$sysName].'</td>';
				}
			endforeach;
			?>
			<td nowrap style="width:80px;">
				<div class="btn-group btn-group-xs project-btn" role="group" aria-label="...">
					<button type="button" class="btn btn-default enter-btn" id="enter-btn" data-id="<?php echo $id?>">
						<?php echo $view->translate('See') ?>
					</button>

					<?php
					$roleId = $item['roleId'];
					$ownerId = $item['ownerId'];
					if($ownerId==$currentUser->getId()) $mode = 'build';
					if($roleId<10 && $roleId!=0) $mode = 'build';

					if( $view->mode!='consult' || $mode != 'consult' ):?>
						<button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
						<span class="caret"></span>
						</button>
						<ul class="dropdown-menu" role="menu">
							<li>
								<a href="#" class="btn-default history-btn" onclick="getHistory(<?php echo $id ?>);">
									<?php echo $view->translate('History') ?>
								</a>
							</li>
						</ul>
					<?php endif;?>
				</div>
			</td>
		</tr>
		<?php endforeach;?>
</tbody>
</table>
<?php } ?>

<div class="jumbotron">
	<h1>
		<img src="<?php echo $logoUrl?>" />
		<?php echo sprintf($this->translate('Welcome to %s'.$siteName.'%s'), '<span class="">', '</span>') ?>
	</h1>
</div>

<div class="row">
	<div class="col-md-12">
		<div class="panel panel-default">
			<div class="panel-heading" style="height:37px;">
			</div>
			<div class="panel-body">
				<div class="control-panel">
					<div class="panel-filter" style="padding:0;margin:2px;position:absolute;left:20px;top:0px;">
						<?php echo $this->filter->render($this)?>
					</div>
					<div class="panel-pagination" style="padding:0;margin:2px;position:absolute;left:900px;top:0px;">
						<?php echo $this->paginator->render($this)?>
					</div>
				</div>
				<?php displaylist($myWuHeaders, $myWorkunits, $this); ?>
			</div>
		</div>
	</div>
</div>

<div class="modal fade" id="selectActivityModal">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h2 class="modal-title">Select An Activity</h2>
        <p class="wu-name">Work Unit Name</p>
      </div>
      <div class="modal-body activities-list"></div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
