<?php 
use Application\Model\Acl;
use Application\Model\People;

$siteName= 'Workflow Instances';
$currentUser = People\CurrentUser::get();
$username = $currentUser->getLogin();
$logoUrl = $this->basePath('img/logo.png');
?>

<style>
th.sortable{
	cursor:pointer;
}
th.sortable>span{
}
.form-control-paginator{
	height:30px;
	font-size:12px;
}
.btn-paginator-prev, .btn-paginator-next{
	height:30px;
	width:30px;
	font-size:12px;
}
.control-panel{
	height:60px;
	width:1500px;
	position:absolute;
	top:2px;
	left:150px;
}
</style>

<script>
$(function(){
	var orderby = "<?php echo $orderby?>";
	var order = "<?php echo $order?>";
	var url = "<?php echo $this->url('wumanager')?>";
	initSortableHeader(orderby, order, url);
});
</script>

<?php
function displaylist($headers, $list, $view, $mode='consult'){
	$currentUser = People\CurrentUser::get();
?>

<table class="table">
	<tr>
		<?php
		foreach($headers as $h=>$p):
			echo '<th data-field="'.$p.'" class="sortable"><span class="glyphicon"></span>'.$h.'</th>';
		endforeach;
		echo '<th></th>';
		?>
		<?php
		foreach($list as $item):
			$id = $item['id'];
			$uid = $item['uid'];
			echo '<tr>';
			foreach($headers as $h=>$p):
				if($p=='status'){
					if(isset($item['status'])){
						$label = $item['status'];
					}
					else{
						$label = 'init';
					}
					$element = clone $view->statusSelect;
					$element->setAttribute('class', 'rbp-status-select btn btn-success');
					$element->setValue($item[$p]);
					$element->setLabel($label);
					$element->setAttribute('data-id', $id);
					echo '<td>'.$view->formElement($element).'</td>';
				}
				else{
					echo '<td>'.$item[$p].'</td>';
				}
			endforeach;
			?>
			<td nowrap style="width:80px;">
				<div class="btn-group btn-group-xs project-btn" role="group" aria-label="...">
					<button type="button" class="btn btn-default enter-btn" id="enter-btn" data-id="<?php echo $id?>">
						<?php echo $view->translate('See') ?>
					</button>
				</div>
			</td>
			<?php 
			echo '</tr>';
		endforeach;
		?>

</table>
<?php } ?>

<div class="jumbotron">
	<h1>
		<img src="<?php echo $logoUrl?>" />
		<?php echo $this->title ?>
	</h1>
</div>

<div class="row">
	<div class="col-md-12">
		<div class="panel panel-default">
			<div class="panel-heading">
				<h3 class="panel-title">
					<?php echo $this->translate($title) ?>
				</h3>
			</div>
			<div class="panel-body">
			
				<div class="control-panel">
					<div class="panel-filter" style="padding:0;margin:0;position:absolute;left:50px;top:0px;">
						<?php echo $this->filter->render($this)?>
					</div>
					<div class="panel-pagination" style="padding:0;margin:0;position:absolute;left:400px;top:0px;">
						<?php echo $this->paginator->render($this)?>
					</div>
				</div>
			
				<?php displaylist($headers, $myProcessInstance, $this); ?>
			</div>
		</div>
	</div>
</div>

<div class="modal fade" id="selectActivityModal">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h2 class="modal-title">Select An Activity</h2>
        <p class="wu-name">Work Unit Name</p>
      </div>
      <div class="modal-body activities-list">
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
