<?php 
$id = 'editWu';
$editlistBtnId = $id.'-adddeliverable';
$modalBoxId = 'addDeliverableDialog';
$this->headScript()->prependFile($this->basePath() . '/js/jquery.validate.min.js'); 
?>

<script>
$(function(){
});
</script>

<?php
$title = 'Add new Deliverable';
$this->headTitle($title);
?>

<h1><?php echo $this->escapeHtml($title); ?></h1>

<?php
$form = $this->form;
$form->setAttributes(array(
		'class'=>'form-horizontal',
));
$form->prepare();
?>

<?echo $this->form()->openTag($form);?>
<?echo $this->formHidden($form->get('id'));?>
<?echo $this->formHidden($form->get('type'));?>
<?echo $this->formRow($form->get('name')->setAttribute('class', 'form-control'));?>
<?echo $this->formRow($form->get('description')->setAttribute('class', 'form-control'));?>
<?echo $this->formRow($form->get('status')->setAttribute('class', 'form-control'));?>
<?echo $this->formSubmit($form->get('submit')->setAttribute('class', 'btn btn-default'));?>	
<?echo $this->form()->closeTag();?>
