<div class="panel panel-default rbp-deliverable-item rbp-deliverable2d-item">
	<div class="pull-right">
		<button class="btn btn-danger btn-xs remove-btn rbp-delete-row" title="Remove" style="margin:0; height:22px;" onclick="return wumanager.deleteDeliverable(this);">
		<span class="glyphicon glyphicon-minus" aria-hidden="true"></span>
		</button>
	</div>
	<div class="panel-heading" style="height:22px;"></div>
	<div class="panel-body" style="margin:15px;">
		<form class="rbp-delivrable">
			<div class="col-md-4">
				<div class="form-group">
					<?echo $this->formRow($form->get('name')->setAttribute('class', 'form-control'));?>
					<?echo $this->formRow($form->get('description')->setAttribute('class', 'form-control'));?>
					<?echo $this->formRow($form->get('section')->setAttribute('class', 'form-control'));?>
				</div>
			</div>

			<div class="col-md-4"><div class="form-group">
				<?echo $this->formRow($form->get('comment')->setAttribute('class', 'form-control'));?>
				<?echo $this->formRow($form->get('projeteur')->setAttribute('class', 'form-control'));?>
			</div></div>

			<div class="col-md-4"><div class="form-group">
				<?echo $this->formRow($form->get('indice')->setAttribute('class', 'form-control'));?>
				<?echo $this->formRow($form->get('codeFiliere')->setAttribute('class', 'form-control'));?>
				<?echo $this->formRow($form->get('ds')->setAttribute('class', 'form-control'));?>
			</div></div>

			<div class="col-md-4"><div class="form-group">
				<?echo $this->formRow($form->get('protectionCode')->setAttribute('class', 'form-control'));?>
				<?echo $this->formRow($form->get('beCode')->setAttribute('class', 'form-control'));?>
				<?echo $this->formRow($form->get('functionalClass')->setAttribute('class', 'form-control'));?>
				<?echo $this->formRow($form->get('drawingType')->setAttribute('class', 'form-control'));?>
				<?echo $this->formRow($form->get('configItem')->setAttribute('class', 'form-control'));?>
				<?echo $this->formRow($form->get('mod')->setAttribute('class', 'form-control'));?>
				<?echo $this->formRow($form->get('team')->setAttribute('class', 'form-control'));?>
				<?echo $this->formRow($form->get('revision')->setAttribute('class', 'form-control'));?>
			</div></div>
		</form>
	</div>
</div>
