<?php 
$id = 'editDelivery';
$saveBtnId = $id.'-save-btn';
$formId = $id.'-form';
?>

<script>
$(function(){
	$('[type=date]').datepicker({
		calendarWeeks: true,
		todayHighlight: true,
		format: 'dd-mm-yyyy'
	});
});
</script>

<style>
.panel-heading{
	padding-top:5px;
	padding-bottom:10px;
}
.panel-heading h1,h2,h3,h4{
	margin:5px;
}
</style>

<?php
$title = "Final check";
$this->headTitle($title);
?>

<?php
$form = $this->form;
$form->setAttributes(array(
	'class'=>'form-horizontal',
	'id'=>$formId
));
$form->prepare();
?>

<?php
echo $this->form()->openTag($form);
echo $this->formHidden($form->get('id'));
echo $this->formHidden($form->get('4dcb6a55582ce745a1826edd6126cc0a'));
?>

<div class="panel panel-default">
	<div class="panel-heading" style="height:50px;">
		<h1><?php echo $this->escapeHtml($title); ?></h1>
	</div>
	
	<div class="panel-body">
		<div class="panel panel-default">
			<div class="panel-body" style="margin:15px;">
				<div class="row">
					<div class="form-group col-sm-4">
					<?echo $this->formRow($form->get('next'));?>
					</div>
					<div class="form-group col-sm-4">
					<?echo $this->formRow($form->get('comment'));?>
					</div>
				</div>
				<div class="pull-right">
				<?php echo $this->formSubmit($form->get('submit')
							->setAttribute('class', 'btn btn-success')
							->setAttribute('id', $saveBtnId)
					);?>
				</div>
			</div>
		</div>
	</div>
</div>
<?php echo $this->form()->closeTag();?>

