<?php 
use Application\Model\Acl;
use Application\Model\People;

$siteName= 'Extended properties';
$currentUser = People\CurrentUser::get();
$username = $currentUser->getLogin();
$logoUrl = $this->basePath('img/logo.png');
?>

<style>
th.sortable {
	cursor: pointer;
}

th.sortable>span {
	
}

.form-control-paginator {
	height: 30px;
	font-size: 12px;
}

.btn-paginator-prev,.btn-paginator-next {
	height: 30px;
	width: 30px;
	font-size: 12px;
}

.control-panel {
	height: 60px;
	width: 1500px;
	position: absolute;
	top: 2px;
	left: 150px;
}
</style>

<script>
$(function(){
	var orderby = "<?php echo $orderby?>";
	var order = "<?php echo $order?>";
	var url = "<?php echo $this->url('extendedproperties')?>";
	initSortableHeader(orderby, order, url);

	$(".enter-btn").click(function(e){
		var id = $(this).data('id');
		var url = "<?php echo $this->url('extendedproperties', array('action'=>'index'))?>"+id;
		window.open(url,"_self");
	});
});

function editProperty(id){
	var url = "<?php echo $this->url('extendedproperties', array('action'=>'edit'))?>"+id;
	window.open(url,"_self");
}

function deleteProperty(id){
	var ok = confirm('This delete property and datas associated. Are you Sure?');
	if(ok == true){
		$url = "<?php echo $this->url('extendedproperties', array('action'=>'delete'))?>"+id;
		window.open($url,"_self");
	}
}
</script>

<?php
function displaylist($headers, $list, $view, $mode='consult'){
	$currentUser = People\CurrentUser::get();
	?>

<table class="table">
	<tr>
		<?php
		foreach($headers as $h=>$p):
		echo '<th data-field="'.$p.'" class="sortable"><span class="glyphicon"></span>'.$h.'</th>';
		endforeach;
		echo '<th></th>';
		?>
		<?php
		foreach($list as $item):
		$id = $item['id'];
		$uid = $item['uid'];
		echo '<tr>';
		foreach($headers as $h=>$p):
		if($p=='status'){
			if(isset($item['status'])){
				$label = $item['status'];
			}
			else{
				$label = 'init';
			}
			$element = clone $view->statusSelect;
			$element->setAttribute('class', 'rbp-status-select btn btn-success');
			$element->setValue($item[$p]);
			$element->setLabel($label);
			$element->setAttribute('data-wuid', $id);
			echo '<td>'.$view->formElement($element).'</td>';
		}
		else{
			echo '<td>'.$item[$p].'</td>';
		}
		endforeach;
		?>
		<td nowrap style="width: 80px;">
			<div class="btn-group btn-group-xs project-btn" role="group"
				aria-label="...">

				<button type="button" class="btn btn-default enter-btn"
					id="enter-btn" data-id="<?php echo $id?>">
					<?php echo $view->translate('See') ?>
				</button>

				<?php 
				$roleId = $item['roleId'];
				$ownerId = $item['ownerId'];
				if($ownerId==$currentUser->getId()) $mode = 'build';
				if($roleId<10 && $roleId!=0) $mode = 'build';

					if( $view->mode!='consult' || $mode != 'consult' ):?>
				<button type="button" class="btn btn-default dropdown-toggle"
					data-toggle="dropdown" aria-expanded="false">
					<span class="caret"></span>
				</button>
				<ul class="dropdown-menu" role="menu">
					<li><a href="#" class="btn-warning edit-btn"
						onclick="editProperty(<?php echo $id ?>);"> <?php echo $view->translate('Edit') ?>
					</a>
					</li>
					<li><a href="#" class="btn-danger delete-btn"
						onclick="deleteProperty(<?php echo $id ?>);"> <?php echo $view->translate('Delete') ?>
					</a>
					</li>
				</ul>
				<?php endif;?>
			</div>
		</td>
		<?php 
		echo '</tr>';
		endforeach;
		?>

</table>
<?php } ?>

<div class="jumbotron">
	<h1>
		<img src="<?php echo $logoUrl?>" />
		<?php echo sprintf($this->translate($siteName.'%s'), '<span class="">', '</span>') ?>
	</h1>
</div>

<div class="row">
	<div class="col-md-12">
		<div class="panel panel-default">
			<div class="panel-heading">
				<h3 class="panel-title">
					<?php echo $this->translate('My Properties') ?>
				</h3>
			</div>
			<div class="panel-body">

				<div class="control-panel">
					<div class="panel-filter"
						style="padding: 0; margin: 0; position: absolute; left: 50px; top: 0px;">
						<?php echo $this->filter->render($this)?>
					</div>
					<div class="panel-pagination"
						style="padding: 0; margin: 0; position: absolute; left: 400px; top: 0px;">
						<?php echo $this->paginator->render($this)?>
					</div>
				</div>

				<div style="width: auto;">
					<?php displaylist($myHeaders, $myList, $this); ?>
				</div>

				<p>
					<a class="btn btn-success add-btn pull-left add-btn"
						href="<?php echo $this->url('extendedproperties', array('action'=>'add'))?>">
						<?php echo $this->translate('Add') ?>
					</a>
				</p>
			</div>
		</div>
	</div>
</div>
