<?php 
$id = 'editProperty';
$addDeliverbaleBtnId = $id.'-add';
$modalBoxId = 'addDialog';
$saveBtnId = $id.'-save-btn';
$formId = $id.'-form';
?>

<script>
$(function(){
	$(".select-type").change(function(e){
		var type = $(this).val();
		var url = "<?php echo $this->url('extendedproperties', array('action'=>'add'))?>?type="+type;
		window.open(url,"_self");
	});

	$(".select-cid").change(function(e){
	});
});
</script>

<style>
.panel-heading {
	padding-top: 5px;
	padding-bottom: 10px;
}

.panel-heading h1,h2,h3,h4 {
	margin: 5px;
}

.input-group-addon {
	width: 150px;
}

.input-group {
	padding-top: 5px;
}
</style>

<?php
$this->headTitle($title);
?>

<?php
$form = $this->form;
$form->setAttributes(array(
	'class'=>'form-horizontal',
	'id'=>$formId
));
$form->prepare();
?>

<?php
echo $this->form()->openTag($form);
echo $this->formHidden($form->get('id'));
?>

<div class="panel panel-default">
	<div class="panel-heading" style="">
		<div class="center-block">
			<h1>
				<?php echo $this->escapeHtml($title); ?>
			</h1>
		</div>
	</div>

	<div class="panel-body" style="margin: 10px;">
		<div class="form-group row">
			<?php if($form->has('type')):?>
			<div class="input-group col-sm-4">
				<?echo $this->formLabel($form->get('type')->setLabelAttributes(array('class'=>'input-group-addon')));?>
				<?echo $this->formElement($form->get('type')->setAttribute('class', 'form-control select-type'));?>
			</div>
			<?php endif; ?>
			<?php if($form->has('extendedCid')):?>
			<div class="input-group col-sm-4">
				<?echo $this->formLabel($form->get('extendedCid')->setLabelAttributes(array('class'=>'input-group-addon')));?>
				<?echo $this->formElement($form->get('extendedCid')->setAttribute('class', 'form-control select-cid'));?>
			</div>
			<?php endif; ?>
		</div>

		<div class="form-group row">
			<div class="input-group col-sm-4">
				<?echo $this->formLabel($form->get('name')->setLabelAttributes(array('class'=>'input-group-addon')));?>
				<?echo $this->formElement($form->get('name')->setAttribute('class', 'form-control'));?>
			</div>

			<div class="input-group col-sm-4">
				<?echo $this->formLabel($form->get('label')->setLabelAttributes(array('class'=>'input-group-addon')));?>
				<?echo $this->formElement($form->get('label')->setAttribute('class', 'form-control'));?>
			</div>
		</div>

		<div class="form-group row">
			<div class="input-group col-sm-4">
				<?echo $this->formLabel($form->get('getter')->setLabelAttributes(array('class'=>'input-group-addon')));?>
				<?echo $this->formElement($form->get('getter')->setAttribute('class', 'form-control'));?>
			</div>

			<div class="input-group col-sm-4">
				<?echo $this->formLabel($form->get('setter')->setLabelAttributes(array('class'=>'input-group-addon')));?>
				<?echo $this->formElement($form->get('setter')->setAttribute('class', 'form-control'));?>
			</div>
		</div>

		<div class="form-group row">
			<div class="input-group col-sm-4">
				<?echo $this->formLabel($form->get('required')->setLabelAttributes(array('class'=>'input-group-addon')));?>
				<?echo $this->formElement($form->get('required')->setAttribute('class', 'form-control'));?>
			</div>
		</div>

		<div class="form-group row">
			<?php foreach ($form->additionalsElements as $elementName):?>
			<div class="input-group col-sm-4">
				<?php $element = $form->get($elementName);?>
				<?php echo $this->formLabel($element->setLabelAttributes(array('class'=>'input-group-addon')));?>
				<?php echo $this->formElement($element->setAttribute('class', 'form-control'));?>
			</div>
			<?php endforeach;?>
		</div>

		<div class="pull-right">
			<?php echo $this->formSubmit($form->get('submit')
				->setAttribute('class', 'btn btn-success')
				->setAttribute('id', $saveBtnId)
			);?>
		</div>
	</div>
</div>
<?php echo $this->form()->closeTag();?>

