<?php 
$id = 'editUser';
$formId = $id.'-form';
?>

<script>
$(function(){
	$("#<?php echo $formId?>").submit(function(e){
		//check passwords
		var pass1 = $("[name='password1']").val();
		var pass2 = $("[name='password2']").val();
		if(pass1 != pass2){
			alert('Password mismatched!');
			e.preventDefault();
			return false;
		}
	});
});
</script>

<?php
$this->headTitle($title);
?>

<?php
$form = $this->form;
$form->setAttributes(array(
	'class'=>'',
	'id'=>$formId
));
$form->prepare();
?>

<?echo $this->form()->openTag($form);?>
<?echo $this->formHidden($form->get('id'));?>
<?echo $this->formHidden($form->get('password'));?>

<div class="panel panel-default">
	<div class="panel-heading">
		<h1><?php echo $this->escapeHtml($title); ?></h1>
	</div>
	
	<div class="panel-body">
		<div class="panel panel-default rbp-wu-details">
			<div class="panel-body">
				<div class="col-md-4">
					<div class="form-group">
					<?echo $this->formRow($form->get('login')->setAttribute('class', 'form-control'));?>
					</div>
					<div class="form-group">
					<?echo $this->formRow($form->get('password1')->setAttribute('class', 'form-control'));?>
					</div>
					<div class="form-group">
					<?echo $this->formRow($form->get('password2')->setAttribute('class', 'form-control'));?>
					</div>
				</div>
				<div class="col-md-4">
					<div class="form-group">
					<?echo $this->formRow($form->get('firstname')->setAttribute('class', 'form-control'));?>
					</div>
					<div class="form-group">
					<?echo $this->formRow($form->get('lastname')->setAttribute('class', 'form-control'));?>
					</div>
					<div class="form-group">
					<?echo $this->formRow($form->get('mail')->setAttribute('class', 'form-control'));?>
					</div>
				</div>
				<div class="col-md-4">
					<div class="form-group">
					<?echo $this->formRow($form->get('memberof')->setAttribute('class', 'form-control'));?>
					</div>
				</div>
			</div>
		</div>
	</div>
	
	<div class="panel-footer" style="height:50px;">
	<span class="pull-right">
		<?php echo $this->formSubmit($form->get('submit')->setAttribute('class', 'btn btn-success'));?>
	</span>
	</div>
</div>

<?php echo $this->form()->closeTag();?>

