<tr class="notification-item" data-id="<?php echo $id ?>">
<td><p class="notification-item-mail"><?php echo $notification->mail ?></p></td>
<td><p class="notification-item-event"><?php echo $notification->getEvent() ?></p></td>
<td><p class="notification-item-owner"><?php echo $notification->ownerUid ?></p></td>
<td>
	<button type="button" 
			class="btn btn-danger btn-xs delete-btn"
			data-toggle="tooltip" 
			title="<?php echo $this->translate('Delete') ?>"
			id="">
		<span class="glyphicon glyphicon-minus" aria-hidden="true"></span>
	</button>
</td>
</tr>
