<?php
//$this->headScript()->prependFile($this->basePath() . '/js/jquery.validate.min.js');
$this->headTitle($title);
$form = $this->form;
$form->setAttributes(array(
	'class'=>'form-horizontal',
));
$form->prepare();
?>

<script>
$(function() {
	$(".add-btn").click(function(e){
		e.preventDefault();
		
		var tr = $(this).parents('tr.notification-form').first();
		var mail = tr.find('[name="mail"]').val().trim();
		var event = tr.find('[name="event"]').val().trim();
		
		if(mail=="" || event==""){
			alert("Mail and event must be set");
			return;
		}
		
		$.ajax({
			type : 'post',
			url : "<?php echo $this->url('notification', array('action'=>'add', 'referenceId'=>$referenceId)) ?>",
			dataType: 'html',
			data : {
				mail:mail,
				event:event
			},
			success : function(html, textStatus, jqXHR){
				tr.before(html);
			},
			error : function(data, textStatus, jqXHR){
				console.log(data);
				var ajax = new RbAjax();
				ajax.htmlErrorDisplay(data.responseText);
			}
		});
	});

	/* permanent event for now and futurs */
	$( document ).on( 'click', ".delete-btn", function(e){
		e.preventDefault();
		var itemTr = $(this).parents('tr.notification-item').first();
		var notificationId = itemTr.data('id');
		
		$.ajax({
			type : 'get',
			url : "<?php echo $this->url('notification', array('action'=>'delete', 'referenceId'=>$referenceId)) ?>",
			dataType: 'html',
			data : {
				id: notificationId,
			},
			success : function(html, textStatus, jqXHR){
				itemTr.remove();
			},
			error : function(data, textStatus, jqXHR){
				console.log(data);
				var ajax = new RbAjax();
				ajax.htmlErrorDisplay(data.responseText);
			}
		});
	});
});
</script>

<div class="notifications">

	<h1><?php echo $this->escapeHtml($title); ?></h1>

	<div class="panel-body">
		<table class="table notification-list">
			<tr>
				<th><p class="" id="">Mail</p></th>
				<th><p class="" id="">Event</p></th>
				<th><p class="" id="">Owner</p></th>
			</tr>
				<?php
				foreach( $collection->getIterator() as $notification ) :
					echo '<tr class="notification-item" data-id="'.$notification->getId().'">';
					echo '<td><p class="notification-item-mail">'.$notification->mail.'</p></td>';
					echo '<td><p class="notification-item-event">'.$notification->getEvent().'</p></td>';
					echo '<td><p class="notification-item-owner">'.$notification->ownerUid.'</p></td>';
					?>
					<td>
						<button type="button" 
								class="btn btn-danger btn-xs delete-btn"
								data-toggle="tooltip" 
								title="<?php echo $this->translate('Delete') ?>"
								id="">
							<span class="glyphicon glyphicon-minus" aria-hidden="true"></span>
						</button>
					</td>
				<?php 
			echo '</tr>';
			endforeach; 
			?>
			
			<tr class="notification-form">
				<td>	
				<?php echo $this->formElement($form->get('mail'));?>
				</td>
				<td>
				<?php echo $this->formElement($form->get('event'));?>
				</td>
				
				<td>
				<?php echo $currentUser->getLogin();?>
				</td>
				
				<td>
				<button type="button" class="btn btn-success btn-xs add-btn" data-toggle="tooltip" title="<?php echo $this->translate('Add') ?>"
					id="add-btn">
					<span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
					<?php echo $this->translate('Add') ?>
				</button>
				</td>
			</tr>
		</table>
	</div>
</div>
