<?php
$id = 'editBill';
$formId = $id.'-form';
$this->headScript()->prependFile($this->basePath() . '/js/jquery.validate.min.js');
?>

<script>
$(function(){
	$('.btn-delete').click(function(){
		var billId = $('#<?php echo $formId?>').children("input[name='id']").val();
		var ok = confirm('Are you sur that you want delete this bill?');
		if(ok==true){
			location.replace("<?php echo $this->basePath()."/wumanager/workunit/deletebill/"?>"+billId);
		}
		return false;
	});
});
</script>

<style>
</style>

<?php
$this->headTitle($title);
?>

<?php
$form = $this->form;
$form->setAttributes(array(
	'class'=>'form-horizontal',
	'id'=>$formId
));
$form->prepare();
?>

<?echo $this->form()->openTag($form);?>
<?echo $this->formHidden($form->get('id'));?>
<?echo $this->formHidden($form->get('wuid'));?>

<div class="panel panel-default">
	<div class="panel-heading">
	<h1><?php echo $this->escapeHtml($title); ?></h1>
	</div>

	<div class="panel-body">
		<div class="panel panel-default rbp-wu-details">
			<div class="panel-body">
				<div class="col-sm-12">
					<div class="form-group">
					<?echo $this->formRow($form->get('name')->setAttribute('class', 'form-control'));?>
					<?echo $this->formRow($form->get('emitDate')->setAttribute('class', 'form-control'));?>
					<?echo $this->formRow($form->get('orderId')->setAttribute('class', 'form-control'));?>
					<?echo $this->formRow($form->get('orderDate')->setAttribute('class', 'form-control'));?>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div class="panel-footer" style="height:50px;">
	<span class="pull-right">
		<?php echo $this->formButton($form->get('delete')->setAttribute('class', 'btn btn-warning btn-delete'));?>
		<?php echo $this->formSubmit($form->get('submit')->setAttribute('class', 'btn btn-success'));?>
	</span>
	</div>
</div>
<?php echo $this->form()->closeTag();?>
