<?php
$this->headScript()->appendFile($this->basePath() . '/js/discussion.js');

$elemtId = 'copyWu';
$saveBtnId = $elemtId.'-save-btn';
$formId = $elemtId.'-form';
?>

<script>
$(function(){
});
</script>

<style>
.panel-heading{
	padding-top:5px;
	padding-bottom:10px;
}
.panel-heading h1,h2,h3,h4{
	margin:5px;
}
</style>

<?php
$this->headTitle($title);
?>

<?php
$form = $this->form;
$form->setAttributes(array(
	'class'=>'form-horizontal',
	'id'=>$formId
));
$form->prepare();
?>

<?php
echo $this->form()->openTag($form);

echo $this->formHidden($form->get('id'));
?>

<div class="panel panel-default">
	<div class="panel-heading" style="">
		<div class="center-block">
			<h1><?php echo $this->escapeHtml($title); ?></h1>
			<h3>Type: <?php
			$type = $this->workunit->getType();
			echo $type->getUid().'-'.$type->getName();
			?></h3>
		</div>
	</div>

	<div class="panel-body">
		<div class="panel panel-default rbp-wu-details">
			<div class="panel-heading"><h4>Work Unit Details</h4></div>
			<div class="panel-body" style="margin:15px;">
				<div class="row">
					<div class="form-group col-sm-3">
					<?echo $this->formRow($form->get('name')->setAttribute('class', 'form-control'));?>
					</div>
					<div class="form-group col-sm-3">
					<?echo $this->formRow($form->get('title')->setAttribute('class', 'form-control'));?>
					</div>
					<div class="form-group col-sm-3">
					<?echo $this->formRow($form->get('quantity')->setAttribute('class', 'form-control'));?>
					</div>
				</div>

				<div class="pull-right">
				<?php echo $this->formSubmit($form->get('submit')
					->setAttribute('class', 'btn btn-success')
					->setAttribute('id', $saveBtnId)
				);?>
				</div>
			</div>
		</div>
	</div>
</div>
<?php echo $this->form()->closeTag();?>

