<?php 
use Application\Model\Acl;
use Application\Model\People;
$siteName= 'Work Unit History';
$currentUser = People\CurrentUser::get();
$username = $currentUser->getLogin();
$logoUrl = $this->basePath('img/logo.png');
?>

<script>
$(function(){
	var orderby = "<?php echo $orderby?>";
	var order = "<?php echo $order?>";
	var url = "<?php echo $_SERVER['REDIRECT_URL']?>";
	initSortableHeader(orderby, order, url);
});
</script>

<?php 
function displayJson($asSys)
{
	$attributes = json_decode($asSys, true);
	foreach($attributes as $name=>$value){
		echo $name . ' : ' . $value . '<br />';
	}
}
?>

<?php function displayProcess($headers1, $headers2, $list, $view, $mode='consult'){
	while($list->valid()):
		$item = $list->current();
		$instanceId = $item['iid'];
		?>

		<div class="panel panel-default">
			<div class="panel-heading">
				<h3>#<?php echo $instanceId;?> Process <?php echo $item['iname'];?> <?php echo $item['istatus'];?></h3>
				started <?php echo $item['istarted'];?> by <?php echo $item['iownerId'];?>
			</div>
			
			<div class="panel-body">
				<div class="">
				<?php displayActivity($headers2, $instanceId, $list, $view, $mode); ?>
				</div>
			</div>
		</div>
		
		<?php
		//$list->next();
	endwhile;?>
<?php } ?>

<?php function displayActivity($headers, $instanceId, $list, $view, $mode='consult'){ ?>
<table class="table">
	<tr>
		<?php foreach($headers as $h=>$p):?>
			<th><?php echo $h; ?></th>
		<?php endforeach;?>
		<th></th>
	</tr>
	<?php
	while($list->valid()):
		echo '<tr>';
		$item = $list->current();
		
		if($instanceId <> $item['iid']){
			echo '<td></td>';
			echo '</tr>';
			break;
		}
		
		//display activity of current process
		foreach($headers as $h=>$p):
			$value = $item[$p];
			if($value[0]=='{'){
				echo '<td>';
				displayJson($value);
				echo '</td>';
			}
			else{
				echo '<td>'.$value.'</td>';
			}
		endforeach;
		echo '<td></td>';
		echo '</tr>';
		
		$instanceId = $item['iid'];
		$list->next();
	endwhile;?>
</table>
<?php } ?>


<div class="jumbotron">
	<h1>
		<img src="<?php echo $logoUrl?>" />
		<?php echo sprintf($this->translate('%s'.$siteName.'%s'), '<span class="">', '</span>') ?>
	</h1>
</div>

<div class="row">
	<div class="col-md-12">
		<div class="panel panel-default">
			<div class="panel-heading" style="height:42px;">
			</div>
			<div class="panel-body">
				<div class="">
				</div>
				<?php displayProcess($headers1, $headers2, $list, $this); ?>
			</div>
		</div>
	</div>
</div>

