<?php
$this->headScript()->appendFile($this->basePath() . '/js/discussion.js');

use Application\Model\People;

$currentUser = People\CurrentUser::get();
$acl = $currentUser->wumacl;
if($acl->hasRight($acl::RIGHT_MANAGE)){
	$manageRight=true;
}
?>

<script>
$(function(){
	var fieldsets = $(".rbp-deliverable-list").find("fieldset > fieldset");

	$.each(fieldsets, function(index, fieldset){
		wumanager.formatDeliverableFieldset($(fieldset));
	});

	discussion();

	$('.rbp-comment-respons-form').hide();
	$('.rbp-comment-template').hide();
	loadDiscussionFromJson(<?php echo json_encode( $discussion->toArray() )?>, <?php echo $id ?>);

	<?php if($manageRight==false):?>
		$('.comment-delete-btn').hide();
	<?php endif;?>
});
</script>

<style>
.panel{
	padding:0px;
	margin-top:10px;
}
.panel-heading{
	padding-top:10px;
	padding-bottom:10px;
	margin:0;
}
.panel-heading h1,h2,h3,h4{
	margin:0px;
}
.panel-primary{
	position: relative;
}
.panel-btn{
	position: absolute;
	top:0;
	right:0;
	display: inline-block;
	vertical-align: middle;
}
</style>

<?php
$title = 'Detail of Workunit';
$this->headTitle($title);
?>

<?php
$form = $this->form;
$form->prepare();
$wuFieldSet = $form->get('workunit');
$deliveryFieldSet = $form->get('delivery');
?>

<?php $commentTemplate = '
<div class="panel panel-primary %s" id="%s">
	<div class="panel-heading rbp-comment-heading">%s</div>
	<div class="panel-btn">
			<button type="button" class="btn-xs btn-danger comment-delete-btn"
				data-toggle="tooltip"
				title="Delete This Element">
				<span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
			</button>
	</div>
	<div class="panel-body">
		<div class="rbp-comment-body">
		%s
		</div>
		<div class="rbp-comment-actions">
			<a href="#" class="rbp-comment-responsbtn">Respons</a>
			<div class="rbp-comment-respons-form">
				<textarea cols="100" rows="2" class="rbp-comment-respons-input"></textarea>
				<button class="rbp-comment-savebtn">Save</button>
			</div>
		</div>
	</div>
	<div class="panel-body rbp-comment-respons">
	</div>
</div>
';
?>

<div class="container-fluid wumanager" id="wum-wu">

<div class="panel panel-default">
	<div class="panel-heading" style="height:50px;">
		<div class="row">
			<div class="col-md-4">
			</div>
			<div class="col-md-4">
				<div class="center-block">
				<h1><?php echo $this->escapeHtml($title); ?></h1>
				</div>
			</div>
			<div class="col-md-4">
			</div>
		</div>
	</div>

	<div class="panel-body">
		<a name="workunit"></a>
		<div class="panel panel-default rbp-wu-details">
			<div class="panel-heading">
			<a class="btn" role="button" data-toggle="collapse" href=".rbp-wu-details>.panel-body" aria-expanded="false" aria-controls=".rbp-wu-details>.panel-body">
			<h4>Workunit Details</h4>
			</a>
			</div>
			<div class="panel-body collapse in">
				<div class="col-sm-12">
					<div class="form-group">
					<?echo $this->formRow($wuFieldSet->get('siteUid')->setAttribute('class', 'form-control'));?>
					</div>
				</div>
				<div class="col-sm-12">
					<div class="form-group">
					<?echo $this->formRow($wuFieldSet->get('tos')->setAttribute('class', 'form-control'));?>
					<?echo $this->formRow($wuFieldSet->get('name')->setAttribute('class', 'form-control'));?>
					<?echo $this->formRow($wuFieldSet->get('title')->setAttribute('class', 'form-control'));?>
					<?echo $this->formRow($wuFieldSet->get('ataLeader')->setAttribute('class', 'form-control'));?>
					<?echo $this->formRow($wuFieldSet->get('quantity')->setAttribute('class', 'form-control'));?>
					</div>
				</div>
				<div class="col-sm-12">
					<div class="form-group">
					</div>
				</div>
				<div class="col-sm-12">
					<div class="form-group">
					<?echo $this->formRow($wuFieldSet->get('openDate')->setAttribute('class', 'form-control'));?>
					<?echo $this->formRow($wuFieldSet->get('planDate')->setAttribute('class', 'form-control'));?>
					</div>
					<div class="form-group">
					<? echo $this->formRow($deliveryFieldSet->get('deliveryDate')->setAttribute('class', 'form-control'));?>
					<? echo $this->formRow($deliveryFieldSet->get('deliveryMemo')->setAttribute('class', 'form-control'));?>
					</div>
				</div>
				<div class="col-sm-12">
					<div class="form-group">
					<?echo $this->formRow($wuFieldSet->get('comment')->setAttribute('class', 'form-control')->setAttribute('cols',70));?>
					</div>
				</div>
			</div>
		</div>

		<a name="delivrable"></a>
		<div class="panel panel-default rbp-deliverable">
			<div class="panel-heading">
			<a class="btn" role="button" data-toggle="collapse" href=".rbp-deliverable>.panel-body" aria-expanded="false" aria-controls=".rbp-wu-details>.panel-body">
			<h4>Deliverables Documents</h4></a>
			</div>
			<div class="panel-body collapse in">
				<div class="rbp-deliverable-list">
				<?php
					echo $this->formCollection( $wuFieldSet->get('deliverables') );
				?>
				</div>
			</div>
		</div>

		<a name="discussion"></a>
		<div class="panel panel-default rbp-discussion">
			<div class="panel-heading">
			<a class="btn" role="button" data-toggle="collapse" href=".rbp-discussions-panel" aria-expanded="false" aria-controls=".rbp-wu-details>.panel-body">
			<h4>Discussions</h4>
			</a>
			</div>
			<div class="panel-body collapse in rbp-discussions-panel">
				<div class="rbp-discussions" id="<?php echo $id?>">
				</div>
				<hr>
				<div class="rbp-discussions-new">
					<textarea class="form-control rbp-comment-respons-input" cols="100" rows="2"></textarea>
					<button type="button" class="btn btn-default rbp-discussion-newbtn">New discussion</button>
				</div>
			</div>
		</div>

	</div>
</div>

<?php
echo sprintf($commentTemplate, 'rbp-comment-template', '', '', '');
?>

</div>