<?php
$title = 'Confirm workunits to deliver';
$form = $this->form;
$form->setAttributes(array(
	'class'=>'form-horizontal',
	'id'=>'autodeliver'
));
$form->prepare();
?>

<script>
$(function(){
	$("#quitbutton").click(function(e){
		e.preventDefault();
		window.open('<?php echo $this->url('workunit-index')?>', "_self");
	});	
});
</script>

<style>
</style>

<?php
$this->headTitle($title);
?>

<?php echo $this->form()->openTag($form);?>

<div class="container">
<div class="panel panel-default">
	<div class="panel-heading">
	<h1><?php echo $this->escapeHtml($title); ?></h1>
	</div>
	
	<div class="panel-body">
		<div class="col-sm-12">
			<div class="form-group">
			<?php echo $this->formRow($form->get('reference'));?>
			</div>
		</div>
	</div>
	
	<div class="panel-heading">
		<h5>Workunits to delivery</h5>
	</div>
	<div class="panel-body">
		<div class="col-sm-12" style="overflow:scroll">
		<?php if(count($form->workunits)==0):?>
			<div class="alert alert-danger">Nothing to delivery</div>
			<?php return;?>
		<?php else:?>
			<?php 
			$headers = array_keys(current($form->workunits));
			?>
			<table class="table wulist table-condensed table-bordered">
			<thead>
			<tr style="height:auto">
			<?php foreach($headers as $label):?>
				<th style="width:auto;"><?php echo($label)?></th>
			<?php endforeach;?>
			</tr>
			</thead>
			<tbody>
			<?php foreach($form->workunits as $entry):?>
			<tr>
				<?php foreach($entry as $value):?>
					<td><?php echo($value); ?></td>
				<?php endforeach;?>
			</tr>
			<?php endforeach;?>
			</tbody>
			</table>
		<?php endif?>
		</div>
	</div>
		
	<div class="panel-heading">
		<h5>Send To</h5>
	</div>
	<div class="panel-body">
		<ul class="list-group">
			<?php foreach($form->get('sendTo')->getValueOptions() as $option):?>
			<li class="list-group-item"><?php echo ($option); ?></li>
			<?php endforeach;?>
		</ul>
	</div>
	
	<div class="panel-heading">
		<h5>Send To Cc</h5>
	</div>
	<div class="panel-body">
		<ul class="list-group">
			<?php foreach($form->get('sendToCc')->getValueOptions() as $option):?>
			<li class="list-group-item"><?php echo ($option); ?></li>
			<?php endforeach;?>
		</ul>
	</div>
	
	<div class="panel-body">
		<div class="col-sm-12">
			<div class="form-group">
			<?php echo $this->formRow($form->get('from'));?>
			</div>
			<div class="form-group">
			<?php echo $this->formRow($form->get('subject'));?>
			</div>
			<div class="form-group">
			<?php echo $this->formRow($form->get('body'));?>
			</div>
		</div>
	</div>
		
	<div class="panel-footer" style="height:50px;">
	<span class="pull-right">
	<div class="btn-group">
		<?php echo $this->formRow($form->get('download'));?>
		<?php echo $this->formSubmit($form->get('submit'));?>
		<?php echo $this->formSubmit($form->get('quit'));?>
	</div>
	</span>
	</div>
</div>
</div>
<?php echo $this->form()->closeTag();?>
