<script>
$(function(){
	$("#quitbutton").click(function(e){
		e.preventDefault();
		window.open('<?php echo $this->url('workunit-index')?>', "_self");
	});	
});
</script>

<div class="container">
<div class="panel panel-default">
	<div class="panel-heading">
	<h1>Delivery mail is Sended</h1>
	</div>
	
	<div class="panel-body form-inline">
		<div class = "row">
			<label class="control-label col-sm-3">From Template</label>
			<div class="form-control col-sm-9">
				<?php echo $templateFile ?>
			</div>
		</div>
		
		<div class = "row">
			<label class="control-label col-sm-3">Reference</label>
			<div class="form-control col-sm-9">
				<p><?php echo $reference ?></p>
			</div>
		</div>
		<div class = "row">
			<label class="control-label col-sm-3">Send to</label>
			<div class="col-sm-9">
			<ul class="list-group">
			<?php 
			foreach($mailing->sendTo as $receipt){
				echo '<li class="list-group-item">'.$receipt[0].'('.$receipt[1].')</li>';
			}
			?>
			</ul>
			</div>
		</div>
		
		<div class = "row">
			<label class="control-label col-sm-3">Send to Cc</label>
			<div class="col-sm-9">
			<ul class="list-group">
			<?php 
			foreach($mailing->sendToCc as $receipt){
				echo '<li class="list-group-item">'.$receipt[0].'('.$receipt[1].')</li>';
			}
			?>
			</ul>
			</div>
		</div>
	</div>
	
	<div class="panel-footer" style="height:50px;">
	<span class="pull-right">
		<?php echo $this->formSubmit($form->get('quit'));?>
	</span>
	</div>
</div>
</div>
