<?php 
$pkey = $this->id; //primary key as record in db. If > 0, consider that its not a new object
$id = $this->uid;
(isset($isSaved)) ? $isSaved = (int)$isSaved : $isSaved = 0;


$bodyId = $id.'-mainpanel';

$deleteBtnId = $id.'-deleteBtn';
$saveBtnId = $id.'-saveBtn';

$style = 'padding: 0em;';

if($collapsed){
	$collapse = 'collapse';
}
else{
	$collapse = 'collapse in';
}

if($width){
	$style=$style . 'width: '.$width.';';
}
if($height){
	$style=$style . ';height: '.$height.';';
}

$class = 'rbp-component rbp-box panel-group';
if($resizablex){
	$class=$class.' resizablex';
}
if($resizabley){
	$class=$class.' resizabley';
}
if($resizable){
	$class=$class.' resizable';
}
if($draggable){
	$class=$class.' draggable';
}
?>

<?php if ($mode == 'build'): ?>
<script>
$(function() {
	$("#<?php echo $saveBtnId?>").click(function(){
		var component = $(this).parents('.rbp-box').first();
		component.trigger('save');
	});

	$("#<?php echo $id?>").on('save', function(e){
		e.stopPropagation(); //Else save the parents too
		return rbportail.saveBox($(this));
	});

	rbportail.init();
});
</script>
<?php endif ?>


<div class="<?php echo $class?>" id="<?php echo $id?>" style="<?php echo $style?>" rbp-visibility-level="<?php echo $visibility?>" rbp-issaved="<?php echo $isSaved?>" rbp-id="<?php echo $pkey?>" role="tablist" aria-multiselectable="true">
  <div class="panel panel-default">
  
	<?php if ($mode == 'build'): ?>
	<div class="panel-concept-btn">
		<div class="btn-group btn-group-xs pull-right" role="group"
			aria-label="...">
			
			<?php include('module/Siergate/view/fragment/setvisibility.phtml'); ?>
			
			<?php echo $this->partial('siergate/projectbuilder/conceptbuttons.fragment.phtml', array('bodyId'=>$bodyId,)); ?>
			
			<button type="button" class="btn btn-success save-btn"
				data-toggle="tooltip" title="<?php echo $this->translate('Save') ?>"
				id="<?php echo $saveBtnId?>">
				<span class="glyphicon glyphicon-floppy-save" aria-hidden="true"></span>
			</button>
			
			<button type="button" class="btn btn-danger delete-btn"
				data-toggle="tooltip"
				title="<?php echo $this->translate('Delete This Element') ?>"
				id="<?php echo $deleteBtnId?>"
				onclick="rbportail.removeComponent('#<?php echo $id?>');">
				<span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
			</button>
			
		</div>
	</div>
	<?php endif; ?>
	
	<?php if( $mode=='build' ):?>
	<div class="panel-heading">
		<div class="row">
			<div class="col-md-8">
				<a data-toggle="collapse" href="#<?php echo $bodyId?>collapse" aria-expanded="true" aria-controls="collapseOne">
					<span class="glyphicon glyphicon-triangle-bottom" aria-hidden="true"></span>
				</a>
				<p class="rbp-component-title editable" style="display: inline-block"><?php echo $title?></p>
			</div>
			<div class="col-md-4"></div>
		</div>
	</div>
	<?php else:?>
	<div class="panel-heading" style="">
			<a data-toggle="collapse" href="#<?php echo $bodyId?>collapse" aria-expanded="true" aria-controls="collapseOne">
				<span class="glyphicon glyphicon-triangle-bottom" aria-hidden="true"></span>
				<p class="rbp-component-title editable" style="display: inline-block"><?php echo $title?></p>
			</a>
	</div>
	<?php endif;?>
	
    <div id="<?php echo $bodyId?>collapse" class="panel-collapse <?php echo $collapse?>" role="tabpanel" aria-labelledby="headingOne">
		<div class="panel-body" id="<?php echo $bodyId?>">
			<p class=" rbp-component-body editable"><?php echo $body?></p>
			<div class="rbp-children  rbp-sortable">
				<?php 
					$count=0;
					for($i=1,$child='children1';isset($this->$child);$child='children'.++$i){
						echo $this->$child;
						$count++;
					}
					if($count==0):
						echo '<div class="rbp-fakecomponent" style="height:50px;"></div>';
					endif;
				?>
			</div>
		</div>
    </div>
	
</div>
</div>
