<?php 
$pkey = $this->id; //primary key as record in db. If > 0, consider that its not a new object
$id = $this->uid;
(isset($isSaved)) ? $isSaved = (int)$isSaved : $isSaved = 0;


$listId=$id.'-list';
$noticeId=$id.'-notice';
$saveBtnId=$id.'-saveBtn';
$bodyId = $id.'-mainpanel';


//$styleUl='list-style-type: none; margin: 0; padding: 0;';
//$styleLi='margin: 3px 3px 3px 0; padding: 1px; float: left; width: 150px; height: 100px; font-size: 1em; text-align: center;';

//$styleUl='list-style-type: none; margin: 0; padding: 0;';
//$styleLi='margin: 0; padding: 0; float: left; text-align: center;';

if($collapsed){
	$collapse = 'collapse';
}
else{
	$collapse = 'collapse in';
}

$styleLi='';
$styleUl='';

$style='padding: 0em;';
if($width){
	$style=$style . 'width: '.$width.';';
}
if($height){
	$style=$style . ';height: '.$height.';';
}

$class = 'rbp-component rbp-checkbox panel panel-default';
if($resizablex){
	$class=$class.' resizablex';
}
if($resizabley){
	$class=$class.' resizabley';
}
if($resizable){
	$class=$class.' resizable';
}
if($draggable){
	$class=$class.' draggable';
}
?>

 <style>
.sortable { list-style-type: none; margin: 0; padding: 0; width: 100%; }
.sortable li { margin: 0 5px 5px 5px; padding: 5px; font-size: 1.2em; height: 2em; }
</style>

<?php if ($mode == 'build'): ?>
<script>
$(function() {
	$("#<?php echo $saveBtnId?>").click(function(){
		var component = $(this).parents('.rbp-checkbox').first();
		component.trigger('save');
	});

	$("#<?php echo $id?>").on('save', function(e){
		e.stopPropagation(); //Else save the parents too
		return rbportail.saveCheckbox($(this));
	});
	
	$( ".sortable" ).sortable({});
	
	rbportail.init();
});

function uniqid(idlength) {
    var charstoformid = '_0123456789ABCDEFGHIJKLMNOPQRSTUVWXTZabcdefghiklmnopqrstuvwxyz'.split('');
    if (! idlength) {
        idlength = Math.floor(Math.random() * charstoformid.length);
    }
    var id = '';
    for (var i = 0; i < idlength; i++) {
        id += charstoformid[Math.floor(Math.random() * charstoformid.length)];
    }
    // one last step is to check if this ID is already taken by an element before 
    if(jQuery("#"+id).length == 0)
        return id;
    else
        return uniqid(20);
}


function addCheckbox(parent)
{
	var id = uniqid(10);
	
	var data='<li class="ui-state-default" style="<?php echo $styleLi?>"> \
		<div class="panel-concept-btn"> \
			<div class="btn-group btn-group-xs pull-right" role="group" \
				aria-label="..."> \
				<button type="button" class="btn btn-danger delete-btn" \
					data-toggle="tooltip" \
					title="<?php echo $this->translate('Delete this checkbox')?>" \
					style="" id="" \
					onclick="$(this).parents(\'li\')[0].remove();"> \
					<span class="glyphicon glyphicon-remove" aria-hidden="true"></span> \
				</button> \
			</div> \
		</div> \
		<div> \
			<p class="editableone rbp-item-name" style="display:inline;">{empty}</p> \
			<input type="checkbox" class="rbp-item-cb"> \
			</input> \
			<em><p class="text-right editableone rbp-item-notice" style="display:inline;">{empty}</p></em> \
		</div> \
		</li>';

	$(parent).append(data);
	rbportail.init();
}
</script>
<?php endif;?>

<div class="<?php echo $class?>" id="<?php echo $id?>" style="<?php echo $style?>" rbp-visibility-level="<?php echo $visibility?>" rbp-issaved="<?php echo $isSaved?>" rbp-id="<?php echo $pkey?>">
	<?php if( $mode=='build' ):?>
	<div class="panel-heading">
		<div class="row">
			<div class="col-md-6">
				<a data-toggle="collapse" href="#<?php echo $bodyId?>collapse" aria-expanded="true" aria-controls="collapseOne">
					<span class="glyphicon glyphicon-list-alt" aria-hidden="true"></span>
				</a>
				<p class="rbp-component-title editable" style="display: inline-block"><?php echo $title?></p>
			</div>
			
			<div class="col-md-4"></div>
			
			<div class="col-md-2">
				<div class="panel-concept-btn">
					<div class="btn-group btn-group-xs pull-right" role="group"
						aria-label="...">
			
						<?php include('module/Siergate/view/fragment/setvisibility.phtml');?>
			
						<button type="button" class="btn btn-success save-btn"
							data-toggle="tooltip" title="<?php echo $this->translate('Save') ?>"
							id="<?php echo $saveBtnId?>">
							<span class="glyphicon glyphicon-floppy-save" aria-hidden="true"></span>
						</button>

						<button type="button" class="btn btn-danger delete-btn"
							data-toggle="tooltip"
							title="<?php echo $this->translate('Delete This Element') ?>"
							id="<?php echo $deleteBtnId?>"
							onclick="rbportail.removeComponent('#<?php echo $id?>');">
							<span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
						</button>
					</div>
				</div>
			</div>
		</div>
	</div>
	<?php else:
	($title=='{empty}') ? $title='' : null;?>
	<div class="panel-heading">
		<div class="row">
			<div class="col-md-6">
				<a data-toggle="collapse" href="#<?php echo $bodyId?>collapse" aria-expanded="true" aria-controls="collapseOne">
					<p class="rbp-component-title rbp-checkbox-title editable label label-default" style="display: inline-block">
						<span class="glyphicon glyphicon-list-alt" aria-hidden="true" style="padding:2px"></span>
						<?php echo $title?>
					</p>
				</a>
			</div>
			<div class="col-md-6"></div>
		</div>
	</div>
	<?php endif;?>

    <div id="<?php echo $bodyId?>collapse" class="panel-collapse <?php echo $collapse?>" role="tabpanel" aria-labelledby="headingOne">
	<div class="panel-body" id="<?php echo $bodyId?>">
		<p id="<?php echo $noticeId?>" class="editable rbp-component-notice">
			<?php echo $notice?>
		</p>
	
		<ul class="sortable connectedSortable rbp-checkbox-items" style="<?php echo $styleUl?>" id="<?php echo $listId?>">
			<?php foreach($items as $item):?>
			<li class="ui-state-default" style="<?php echo $styleLi?>">
			
				<?php if ($mode == 'build'): ?>
				<div class="panel-concept-btn">
					<div class="btn-group btn-group-xs pull-right" role="group"
						aria-label="...">
						<button type="button" class="btn btn-danger delete-btn"
							data-toggle="tooltip"
							title="<?php echo $this->translate('Delete this checkbox')?>"
							style="" id=""
							onclick="$(this).parents('li')[0].remove();">
							<span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
						</button>
					</div>
				</div>
				<?php endif;?>

				<div>
					<p class="editableone rbp-item-name" style="display:inline;"><?php echo $item->name ?></p>
					<input type="checkbox" class="rbp-item-cb" <?php if($item->state=='on'|$item->checked==true):?>checked="true"<?php endif ?>>
					</input>
					<em><p class="editableone text-right rbp-item-notice" style="display:inline;"><?php echo $item->notice ?></p></em>
				</div>
			</li>
			<?php endforeach; ?>
		</ul>
		
		<?php if ($mode == 'build'): ?>
		<div class="panel-concept-btn">
			<button type="button" class="btn btn-default add-btn" data-toggle="tooltip"
				title="<?php echo $this->translate('Add a checkbox') ?>"
				id="<?php echo $addrowBtnId?>"
				onclick="addCheckbox($('#<?php echo $listId ?>'));">
				<span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
				<?php echo $this->translate('Add a checkbox') ?>
			</button>
		</div>
		<?php endif;?>
	</div>
	</div>
	
	<div class="panel-footer">
		<p class="rbp-update-label"><?php echo sprintf($this->translate('Updated by %s at %s'), $updateBy, $updated)?></p>
	</div>
</div>
