<?php 
$pkey = $this->id; //primary key as record in db. If > 0, consider that its not a new object
$id = $this->uid;
(isset($isSaved)) ? $isSaved = (int)$isSaved : $isSaved = 0;
(!isset($listId)) ? $listId=null : null;
$baseurl = $this->url('index');
$noticeId = $id.'-notice';
$deleteBtnId = $id.'-deleteBtn';
$saveBtnId = $id.'-saveBtn';
$bodyId = $id.'-mainpanel';
$dropFileAreaId = $id.'-dropfileArea';


if($collapsed){
	$collapse = 'collapse';
}
else{
	$collapse = 'collapse in';
}

$style='padding: 0em;';
if($width){
	$style=$style . 'width: '.$width.';';
}
if($height){
	$style=$style . ';height: '.$height.';';
}

$class = 'rbp-component rbp-filelist panel panel-default';
if($resizablex){
	$class=$class.' resizablex';
}
if($resizabley){
	$class=$class.' resizabley';
}
if($resizable){
	$class=$class.' resizable';
}
if($draggable){
	$class=$class.' draggable';
}
/*
$images = array(
	array('url'=>'/rbportail/img/get?image1.gif'),
	array('url'=>'/rbportail/img/examples/image2.gif'),
	array('url'=>'/rbportail/img/examples/image3.gif'),
	);
*/
?>

<style>
.rbp-dropfilearea{
	width: auto;
	height: 150px;
	border: 3px dashed #BBBBBB;
	line-height:50px;
	text-align: center;
	}
</style>

<?php if ($mode == 'build'): ?>
<script>

$(function() {
	$("#<?php echo $saveBtnId?>").click(function(){
		var component = $(this).parents('.rbp-filelist').first();
		component.trigger('save');
	});

	$("#<?php echo $id?>").on('save', function(e){
		e.stopPropagation(); //Else save the parents too
		return rbportail.saveFilelist($(this));
	});

	var dropfileDiv = $("#<?php echo $dropFileAreaId?>");
	

	dropfileDiv.on('dragenter', function() {
		$(this).css('border', '3px dashed red');
		return false;
	});
	
	dropfileDiv.on('dragover', function(e) {
		e.preventDefault();
		e.stopPropagation();
		$(this).css('border', '3px dashed red');
		return false;
	});
	
	dropfileDiv.on('dragleave', function(e) {
		e.preventDefault();
		e.stopPropagation();
		$(this).css('border', '3px dashed #BBBBBB');
		return false;
	});

	dropfileDiv.on('drop', function(e){
		var component = $(this).parents("div.rbp-filelist").first();
		
		if (e.originalEvent.dataTransfer) {
			if (e.originalEvent.dataTransfer.files.length) {
				// Stop the propagation of the event
				e.preventDefault();
				e.stopPropagation();
				$(this).css('border', '3px dashed green');
				
				var files = e.originalEvent.dataTransfer.files;
			  	for (var i = 0, file; file = files[i]; i++) {
					var reader = new FileReader();
					reader.file=file;
					reader.url = rbportail.componentGetterBaseUrl+"/addfile/";
					reader.onload = uploadFile;
					reader.readAsDataURL(file);
					reader.component = component;
					reader.rbportail = rbportail;
				}
			}
		}
		else {
			$(this).css('border', '3px dashed #BBBBBB');
		}
		return false;
	});
	
    new $JssorSlider$('slider1_container', {
		$AutoPlay: true,
        $CaptionSliderOptions: {
            $PlayInMode: 1,
            $PlayOutMode: 3
        }
    });
	
	function uploadFile(event){
		var splitresult = event.target.result.split(',');
		var mimestype = splitresult[0].split(';')[0];
		var encode = splitresult[0].split(';')[1];
		var data = splitresult[1];
		var filename = this.file.name;
		var component = this.component;
		var componentUid = this.component.attr('id');
		var componentId = this.component.attr('rbp-id');
		var params={};
		
		params.id = componentId;
		params.uid = componentUid;
		params.encode = 'json';
		params.files={
			'file1':{
				'name':filename,
				'data':{
					'name':filename,
					//'md5':$.md5(data),
					'size':data.length,
					'data':data,
					'mimestype':mimestype,
					'encode':encode
				}
			}
		};
		$.ajax({
			type : 'POST',
			url : this.url,
			data : params,
			dataType: 'html',
			success : function(data, textStatus, jqXHR){
				//reload filelist
				var comptype = 'filelist';
				var url = rbportail.componentGetterBaseUrl+"/get"+comptype+"/"+componentId;
				$.get( url, function( data ) {
					component.parent().html(data);
					//initThisPage();
				});
			},
			error : function(errorMsg, textStatus, jqXHR){
	    	   //return ajaxErrorToMsg(errorMsg);
	        	alert(errorMsg);
			}
		});
		//this.rbGuiContext.reload('assocfiles');
	};

	//call by fileReader, in the context of the fileReader
	rbportail.init();
});

</script>
<?php else:?>
<script>
$(function() {
    new $JssorSlider$('slider1_container', {
		$AutoPlay: true,
        $CaptionSliderOptions: {
            $PlayInMode: 1,
            $PlayOutMode: 3
        }
    });
});
</script>
<?php endif ?>

<div class="<?php echo $class?>" id="<?php echo $id?>" style="<?php echo $style?>" rbp-visibility-level="<?php echo $visibility?>" rbp-issaved="<?php echo $isSaved?>" rbp-id="<?php echo $pkey?>">

	<?php if( $mode=='build' ):?>
	<div class="panel-heading">
		<div class="row">
		
			<div class="col-md-6">
				<a data-toggle="collapse" href="#<?php echo $bodyId?>collapse" aria-expanded="true" aria-controls="collapseOne">
					<span class="glyphicon glyphicon-inbox" aria-hidden="true"></span>
				</a>
				<p class="rbp-component-title editable" style="display: inline-block"><?php echo $title?></p>
			</div>
			
			<div class="col-md-4"></div>
			
			<div class="col-md-2">
				<div class="panel-concept-btn">
					<div class="btn-group btn-group-xs pull-right" role="group"
						aria-label="...">
						
						<?php include('module/Siergate/view/fragment/setvisibility.phtml');?>
						
						<button type="button" class="btn btn-success save-btn"
							data-toggle="tooltip" title="<?php echo $this->translate('Save') ?>"
							id="<?php echo $saveBtnId?>">
							<span class="glyphicon glyphicon-floppy-save" aria-hidden="true"></span>
						</button>
						
						<button type="button" class="btn btn-danger delete-btn"
							data-toggle="tooltip"
							title="<?php echo $this->translate('Delete This Element') ?>"
							id="<?php echo $deleteBtnId?>"
							onclick="rbportail.removeComponent('#<?php echo $id?>');">
							<span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
						</button>
					</div>
				</div>
			</div>
		</div>
	</div>
	<?php else:
	($title=='{empty}') ? $title='' : null;?>
	<div class="panel-heading">
		<div class="row">
			<div class="col-md-4">
				<a data-toggle="collapse" href="#<?php echo $bodyId?>collapse" aria-expanded="true" aria-controls="collapseOne">
					<p class="rbp-component-title rbp-filelist-title editable label label-default" style="display: inline-block">
						<span class="glyphicon glyphicon-inbox" aria-hidden="true" style="padding:2px"></span>
						<?php echo $title?>
					</p>
				</a>
			</div>
			<div class="col-md-8"></div>
		</div>
	</div>
	<?php endif;?>

    <div id="<?php echo $bodyId?>collapse" class="panel-collapse <?php echo $collapse?>" role="tabpanel" aria-labelledby="headingOne">
	<div class="panel-body" id="<?php echo $bodyId?>">
		<p id="<?php echo $noticeId?>" class="editable rbp-component-notice">
			<?php echo $notice?>
		</p>
		
		<table class="table rbp-filelist-items" style="" id="<?php echo $listId?>">
				<th><p class="rbp-listheader">name</p></th>
				<th><p class="rbp-listheader">size</p></th>
				<th><p class="rbp-listheader">mtime</p></th>
				<?php foreach($items as $item):?>
					<tr class="rbp-filelist-item" id="<?php echo $item->id?>">
					<td>
						<?php if ($mode == 'build'):
							$lnk = $_SERVER['HTTP_REFERER'].'img/'.$reposit.'/'.$item->id; ?>
							<a title="permanent link" href="<?php echo $lnk ?>"><p class="rbp-listitem-name"><?php echo $item->name?></p></a>
						<?php else: ?>
							<p class="rbp-listitem-name"><?php echo $item->name?></p>
						<?php endif; ?>
					</td>
					<td><p class="rbp-listitem-size"><?php echo $item->size?></p></td>
					<td><p class="rbp-listitem-mtime"><?php echo $item->mtime?></p></td>
					<td>
						<div class="btn-group btn-group-xs" role="group" aria-label="...">
							<button type="button" class="btn btn-info get-file-btn" id="<?php echo $item->id ?>"
							onclick="rbportail.getFile('<?php echo $pkey?>', '<?php echo $item->id?>');">
							<?php echo $this->translate('Get') ?></button>
							
							<?php if ($mode == 'build'): ?>
							<button type="button" class="btn btn-danger delete-file-btn" id="<?php echo $item->id ?>"
							onclick="rbportail.delFile('<?php echo $pkey?>', '<?php echo $item->id?>', this);">
							<?php echo $this->translate('Delete') ?></button>
							<?php endif; ?>
							
						</div>
					</td>
					</tr>
				<?php endforeach;?>
		</table>
		
		<?php if($images): ?>
		<div id="slider1_container" style="position: relative; top: 0px; left: 0px; width: 600px; height: 300px;">
			<!-- Slides Container -->
			<div u="slides" style="cursor: move; position: relative; overflow: hidden; left: 0px; top: 0px; width: 600px; height: 300px;">
				<?php foreach($images as $im):?>
				<div>
				<img u="image" src="<?php echo $baseurl?>img/get.php?reposit=<?php echo $reposit?>&name=<?php echo $im->id?>"/>
				<div u="caption" style="position: absolute; bottom: 0px; left: 0px; width: 600px;height: 20px; background-color:white">
					<b><?php echo $im->name?></b>
				</div>
				</div>
            	<?php endforeach;?>
        	</div>
		</div>
		<?php else: ?>
		<div id="slider1_container" style="position: relative; top: 0px; left: 0px; width: 0px; height: 0px;">
			<!-- Slides Container -->
			<div u="slides" style="cursor: move; position: relative; overflow: hidden; left: 0px; top: 0px; width: 0px; height: 0px;">
        	</div>
		</div>
		<?php endif;?>
	</div>
	
	<?php if ($mode == 'build'): ?>
	<div class="rbp-addfile">
		<div id="<?php echo $dropFileAreaId?>" class="rbp-dropfilearea">
			<span class="glyphicon glyphicon-download-alt "></span>
			DROP A FILE HERE TO ADD IT!
		</div>
	</div>
	<?php endif; ?>
	
	</div>
	
</div>
