<?php 
$pkey = $this->id; //primary key as record in db. If > 0, consider that its not a new object
$id = $this->uid;
(isset($isSaved)) ? $isSaved = (int)$isSaved : $isSaved = 0;

$value=(int)$this->value;

$pbarid=$id.'-progress-bar';
$sliderid=$id.'-slider';

$deleteBtnId=$id.'-deleteBtn';
$saveBtnId=$id.'-saveBtn';

$bodyId = $id.'-mainpanel';

if($collapsed){
	$collapse = 'collapse';
}
else{
	$collapse = 'collapse in';
}

$style='padding: 0em;';
if($width){
	$style=$style . 'width: '.$width.';';
}
if($height){
	$style=$style . ';height: '.$height.';';
}

$class='rbp-component rbp-indicator panel panel-default';
if($resizablex){
	$class=$class.' resizablex';
}
if($resizabley){
	$class=$class.' resizabley';
}
if($resizable){
	$class=$class.' resizable';
}
if($draggable){
	$class=$class.' draggable';
}
?>

<?php if ($mode == 'build'): ?>
<script>
$(function() {
	$( "#<?php echo $sliderid?>" ).slider({
		min:0,
		max:100,
		step: 1,
		value: parseInt('<?php echo $value?>'),
		 slide: function( event, ui ) {
			 $( "#<?php echo $pbarid?>" )
				 .attr( "aria-valuenow", ui.value)
				 .html( ui.value + '%')
				 .css( "width", ui.value + '%');
		 }
		});

	$("#<?php echo $saveBtnId?>").click(function(){
		var component = $(this).parents('.rbp-indicator').first();
		component.trigger('save');
	});

	$("#<?php echo $id?>").on('save', function(e){
		e.stopPropagation(); //Else save the parents too
		return rbportail.saveIndicator($(this));
	});
	
	rbportail.init();
});
</script>
<?php endif;?>


<div class="<?php echo $class?>" id="<?php echo $id?>" style="<?php echo $style?>" rbp-visibility-level="<?php echo $visibility?>" rbp-issaved="<?php echo $isSaved?>" rbp-id="<?php echo $pkey?>">

	<?php if( $mode=='build' ):?>
	<div class="panel-heading" style="background-color: yellow;">
		<div class="row">
			<div class="col-md-4">
				<a data-toggle="collapse" href="#<?php echo $bodyId?>collapse" aria-expanded="true" aria-controls="collapseOne">
					<span class="glyphicon glyphicon-tasks" aria-hidden="true" style="padding:2px"></span>
				</a>
				<p class="rbp-component-title rbp-indicator-title editable" style="display: inline-block">
					<?php echo $title?>
				</p>
			</div>
			<div class="col-md-6">
				<div class="progress">
					<div class="rbp-indicator-value progress-bar" id="<?php echo $pbarid?>"
						role="progressbar" aria-valuenow="<?php echo $value?>>" aria-valuemin="0"
						aria-valuemax="100" style="width: <?php echo $value?>%;"><?php echo $value?>%</div>
				</div>
			</div>
			<div class="col-md-2">
				<div class="panel-concept-btn">
					<div class="btn-group btn-group-xs pull-right" role="group" aria-label="...">
			
						<?php include('module/Siergate/view/fragment/setvisibility.phtml');?>
						
						<button type="button" class="btn btn-success save-btn"
							data-toggle="tooltip" title="<?php echo $this->translate('Save') ?>"
							id="<?php echo $saveBtnId?>">
							<span class="glyphicon glyphicon-floppy-save" aria-hidden="true"></span>
						</button>
			
						<button type="button" class="btn btn-danger delete-btn"
							data-toggle="tooltip"
							title="<?php echo $this->translate('Delete This Element') ?>"
							id="<?php echo $deleteBtnId?>"
							onclick="rbportail.removeComponent('#<?php echo $id?>');">
							<span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
						</button>
					</div>
				</div>
			</div>
		</div>
	</div>
	<?php else:
	($title=='{empty}') ? $title='' : null;?>
	<div class="panel-heading" style="">
		<div class="row">
			<div class="col-md-4">
				<a data-toggle="collapse" href="#<?php echo $bodyId?>collapse" aria-expanded="true" aria-controls="collapseOne">
					<p class="rbp-component-title rbp-indicator-title editable label label-primary" style="display: inline-block">
						<span class="glyphicon glyphicon-tasks" aria-hidden="true" style="padding:2px"></span>
						<?php echo $title?>
					</p>
				</a>
			</div>
			
			<div class="col-md-7">
				<span class="progress">
					<div class="rbp-indicator-value progress-bar" id="<?php echo $pbarid?>"
						role="progressbar" aria-valuenow="<?php echo $value?>>" aria-valuemin="0"
						aria-valuemax="100" style="margin:2px;width:<?php echo $value?>%;">
						<?php echo $value?>%
					</div>
				</span>
			</div>
			
			<div class="col-md-1">
			</div>
			
		</div>
	</div>
	<?php endif;?>
	
    <div id="<?php echo $bodyId?>collapse" class="panel-collapse <?php echo $collapse?> " role="tabpanel" aria-labelledby="headingOne">
	<div class="panel-body" id="<?php echo $bodyId?>">
		<div class="row">
			<div class="col-md-4">
				<h3><p class="editable rbp-component-label" style="margin:0;padding:0"><?php echo $label?></p></h3>
			</div>
			
			<div class="col-md-4">
				<?php if( $mode=='build' ):?>
					<div class="rbp-indicator-slider" id="<?php echo $sliderid?>"></div>
				<?php endif;?>
			</div>
			
			<div class="col-md-4">
				<p class="rbp-component-notice editable"><?php echo $notice?></p>
			</div>
		</div>
	</div>
	<div class="panel-footer">
		<p class="rbp-update-label"><?php echo sprintf($this->translate('Updated by %s at %s'), $updateBy, $updated)?></p>
	</div>
	</div>

</div>

