<?php 
$pkey = $this->id; //primary key as record in db. If > 0, consider that its not a new object
$id = $this->uid;
(isset($isSaved)) ? $isSaved = (int)$isSaved : $isSaved = 0;


$bodyId = $id.'-mainpanel';
if($body=='{empty}') $body="";

$deleteBtnId = $id.'-deleteBtn';
$saveBtnId = $id.'-saveBtn';

$style = 'padding: 0em;';

if($collapsed){
	$collapse = 'collapse';
}
else{
	$collapse = 'collapse in';
}

if($width){
	$style=$style . 'width: '.$width.';';
}
if($height){
	$style=$style . ';height: '.$height.';';
}

$class = 'rbp-component rbp-jssor panel panel-default';
if($resizablex){
	$class=$class.' resizablex';
}
if($resizabley){
	$class=$class.' resizabley';
}
if($resizable){
	$class=$class.' resizable';
}
if($draggable){
	$class=$class.' draggable';
}
?>

<?php if ($mode == 'build'): ?>
<script>
$(function() {
	$("#<?php echo $saveBtnId?>").click(function(){
		var component = $(this).parents('.rbp-tinymce').first();
		component.trigger('save');
	});

	$("#<?php echo $id?>").on('save', function(e){
		e.stopPropagation(); //Else save the parents too
		return rbportail.saveJssor($(this));
	});

    var options = { $AutoPlay: true };
    var jssor_slider1 = new $JssorSlider$('slider1_container', options);
	
	rbportail.init();
});
</script>
<?php else:?>
<script>
$(function() {
    var options = { $AutoPlay: true };
    var jssor_slider1 = new $JssorSlider$('slider1_container', options);
});
</script>

<?php endif ?>

<div class="<?php echo $class?>" id="<?php echo $id?>" style="<?php echo $style?>" rbp-visibility-level="<?php echo $visibility?>" rbp-issaved="<?php echo $isSaved?>" rbp-id="<?php echo $pkey?>">
	<?php if ($mode == 'build'): ?>
	<div class="panel-concept-btn">
		<div class="btn-group btn-group-xs pull-right" role="group"
			aria-label="...">
			
			<?php include('module/Siergate/view/fragment/setvisibility.phtml'); ?>

			<button type="button" class="btn btn-success save-btn"
				data-toggle="tooltip" title="<?php echo $this->translate('Save') ?>"
				id="<?php echo $saveBtnId?>">
				<span class="glyphicon glyphicon-floppy-save" aria-hidden="true"></span>
			</button>

			<button type="button" class="btn btn-danger delete-btn"
				data-toggle="tooltip"
				title="<?php echo $this->translate('Delete This Element') ?>"
				id="<?php echo $deleteBtnId?>"
				onclick="rbportail.removeComponent('#<?php echo $id?>');">
				<span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
			</button>
		</div>
	</div>
	<?php endif; ?>
	
	<?php if( $mode=='build' ):?>
	<div class="panel-heading">
		<div class="row">
			<div class="col-md-8">
				<a data-toggle="collapse" href="#<?php echo $bodyId?>collapse" aria-expanded="true" aria-controls="collapseOne">
					<span class="glyphicon glyphicon-triangle-bottom" aria-hidden="true"></span>
				</a>
				<p class="rbp-component-title editable" style="display: inline-block"><?php echo $title?></p>
			</div>
			<div class="col-md-4"></div>
		</div>
	</div>
	<?php else:?>
	<div class="panel-heading" style="">
			<a data-toggle="collapse" href="#<?php echo $bodyId?>collapse" aria-expanded="true" aria-controls="collapseOne">
				<span class="glyphicon glyphicon-triangle-bottom" aria-hidden="true"></span>
				<p class="rbp-component-title editable" style="display: inline-block"><?php echo $title?></p>
			</a>
	</div>
	<?php endif;?>
	
    <div id="<?php echo $bodyId?>collapse" class="panel-collapse <?php echo $collapse?>" role="tabpanel" aria-labelledby="headingOne">
	<div class="panel-body" id="<?php echo $bodyId?>">
        <div id="slider1_container" style="position: relative; top: 0px; left: 0px; width: 600px; height: 300px;">
            <div u="slides" style="cursor: move; position: relative; overflow: hidden; left: 0px; top: 0px; width: 600px; height: 300px;">
            	<?php foreach($items as $image):?>
                <div><img u="image" src="<?php echo $image['url']?>"/></div>
                <?php endforeach;?>
            </div>
        </div>
	</div>
	</div>
</div>
