<?php 
$pkey = $this->id; //primary key as record in db. If > 0, consider that its not a new object
$id = $this->uid;
(isset($isSaved)) ? $isSaved = (int)$isSaved : $isSaved = 0;


$noticeId=$id.'-notice';
$saveBtnId=$id.'-saveBtn';

$style='padding: 0em;';
if($width){
	$style=$style . 'width: '.$width.';';
}
if($height){
	$style=$style . ';height: '.$height.';';
}

if($collapsed){
	$collapse = 'collapse';
}
else{
	$collapse = 'collapse in';
}

$class = 'rbp-component rbp-simplegrid panel panel-default';
if($resizablex){
	$class=$class.' resizablex';
}
if($resizabley){
	$class=$class.' resizabley';
}
if($resizable){
	$class=$class.' resizable';
}
if($draggable){
	$class=$class.' draggable';
}
?>

<script>
$(function() {
	$("#<?php echo $selectId?>").change(function(){
		$("#<?php echo $labelId?>").html(this.value);
	});

	$(".delete-file-btn").click(function(){
		alert(this.id + " clicked");
	});

	$(".replace-file-btn").click(function(){
		alert(this.id + " clicked");
	});

	$("#<?php echo $saveBtnId?>").click(function(){
		var component = $(this).parents('.rbp-simplegrid').first();
		component.trigger('save');
	});

	$("#<?php echo $id?>").on('save', function(e){
		e.stopPropagation(); //Else save the parents too
		return rbportail.saveSimplegrid($(this));
	});

	rbportail.init();
});
</script>

<div class="<?php echo $class?>" id="<?php echo $id?>" style="<?php echo $style?>" rbp-visibility-level="<?php echo $visibility?>" rbp-issaved="<?php echo $isSaved?>" rbp-id="<?php echo $pkey?>">
	<div class="panel-concept-btn">
		<div class="btn-group btn-group-xs pull-right" role="group"
			aria-label="...">

			<?php include('module/Siergate/view/fragment/setvisibility.phtml');?>
			
			<button type="button" class="btn btn-success save-btn"
				data-toggle="tooltip" title="<?php echo $this->translate('Save') ?>"
				id="<?php echo $saveBtnId?>">
				<span class="glyphicon glyphicon-floppy-save" aria-hidden="true"></span>
			</button>

			<button type="button" class="btn btn-danger delete-btn"
				data-toggle="tooltip"
				title="<?php echo $this->translate('Delete This Element') ?>"
				id="<?php echo $deleteBtnId?>"
				onclick="rbportail.removeComponent('#<?php echo $id?>');">
				<span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
			</button>
		</div>
	</div>
	
	<?php if( $mode=='build' ):?>
	<div class="panel-heading">
		<div class="row">
			<div class="col-md-8">
				<a data-toggle="collapse" href="#<?php echo $bodyId?>collapse" aria-expanded="true" aria-controls="collapseOne">
					<span class="glyphicon glyphicon-triangle-bottom" aria-hidden="true"></span>
				</a>
				<p class="rbp-component-title editable" style="display: inline-block"><?php echo $title?></p>
			</div>
			<div class="col-md-4"></div>
		</div>
	</div>
	<?php else:?>
	<div class="panel-heading" style="">
			<a data-toggle="collapse" href="#<?php echo $bodyId?>collapse" aria-expanded="true" aria-controls="collapseOne">
				<span class="glyphicon glyphicon-triangle-bottom" aria-hidden="true"></span>
				<p class="rbp-component-title editable" style="display: inline-block"><?php echo $title?></p>
			</a>
	</div>
	<?php endif;?>
		
	<div class="panel-body">
		<table class="table">
			<tr>
				<?php 
				foreach($headers as $cell):
					echo '<th><p class="editableone">'.$cell.'</p></th>';
				endforeach;
				?>
				<?php
				foreach($items as $item):
					echo '<tr>';
					foreach($item as $cell):
						echo '<td><p class="editableone">'.$cell.'</p></td>';
					endforeach;
					?>
					<td>
						<button type="button" class="btn btn-default btn-xs delete-btn" data-toggle="tooltip" title="<?php echo $this->translate('Delete a row to this table') ?>"
							id="">
							<span class="glyphicon glyphicon-minus" aria-hidden="true"></span>
						</button>
					</td>
					<?php 
					echo '</tr>';
				endforeach;
				?>
		</table>
		
		<button type="button" class="btn btn-default btn-xs add-btn" data-toggle="tooltip" title="<?php echo $this->translate('Add a row to this table') ?>"
			id="<?php echo $addrowBtnId?>"
			onclick="rbportail.removeComponent('#<?php echo $id?>');">
			<span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
			<?php echo $this->translate('Add a row') ?>
		</button>
		
		<button type="button" class="btn btn-default btn-xs add-btn" data-toggle="tooltip" title="<?php echo $this->translate('Add a column to this table') ?>"
			id="<?php echo $addcolBtnId?>">
			<span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
			<?php echo $this->translate('Add a column') ?>
		</button>
	</div>

	<div class="panel-footer">
		<p class="rbp-update-label"><?php echo sprintf($this->translate('Updated by %s at %s'), $updateBy, $updated)?></p>
	</div>
	
</div>

