<?php 
$pkey = $this->id; //primary key as record in db. If > 0, consider that its not a new object
$id = $this->uid;
(isset($isSaved)) ? $isSaved = (int)$isSaved : $isSaved = 0;


$selectId = $id.'-select';
$labelId = $id.'-label';
$noticeId = $id.'-notice';

$deleteBtnId = $id.'-deleteBtn';
$editlistBtnId = $id.'-editlistBtn';
$saveBtnId = $id.'-saveBtn';

$bodyId = $id.'-mainpanel';

$modalBoxId = 'editListDialog';

if($collapsed){
	$collapse = 'collapse';
}
else{
	$collapse = 'collapse in';
}

$style='padding: 0em;';
if($width){
	$style = $style . 'width: '.$width.';';
}
if($height){
	$style = $style . ';height: '.$height.';';
}

$class='rbp-component rbp-statusbox panel panel-default';
if($resizablex){
	$class=$class.' resizablex';
}
if($resizabley){
	$class=$class.' resizabley';
}
if($resizable){
	$class=$class.' resizable';
}
if($draggable){
	$class=$class.' draggable';
}
//var_dump($values);
?>

<?php if ($mode == 'build'): ?>
<script>
$(function() {
	$("#<?php echo $selectId?>").change(function(){
		$("#<?php echo $labelId?>").html(this.value);
	});

	$("#<?php echo $deleteBtnId?>").click(function(){
	});

	$("#<?php echo $saveBtnId?>").click(function(){
		var component = $(this).parents('.rbp-statusbox').first();
		component.trigger('save');
	});

	$("#<?php echo $id?>").on('save', function(e){
		e.stopPropagation(); //Else save the parents too
		return rbportail.saveStatusbox($(this));
	});

	$("#<?php echo $editlistBtnId?>").click(function(){
		return rbportail.editSelectList( $("#<?php echo $selectId?>") );
	});

	rbportail.init();
});
</script>
<?php endif;?>


<div class="<?php echo $class?>" id="<?php echo $id?>" style="<?php echo $style?>" rbp-visibility-level="<?php echo $visibility?>" rbp-issaved="<?php echo $isSaved?>" rbp-id="<?php echo $pkey?>">
	
	<?php if( $mode=='build' ):?>
	<div class="panel-heading">
		<div class="row">
			<div class="col-md-4">
				<a data-toggle="collapse" href="#<?php echo $bodyId?>collapse" aria-expanded="true" aria-controls="collapseOne">
					<span class="glyphicon glyphicon glyphicon-flag" aria-hidden="true" style="padding:2px"></span>
				</a>
				<p class="rbp-component-title editable" style="display: inline-block">
				<?php echo $title?>
				</p>
			</div>
			
			<div class="col-md-6">
				<span class="rbp-component-status label label-primary" id="<?php echo $labelId?>"><?php echo $status?>
				</span>
				<span>
				<select name="" id="<?php echo $selectId?>" class="rbp-status-selector">
					<?php
					foreach($values as $i){
						if($i==$status){
							echo "<option value=\"$i\" selected>$i</option>";
						}
						else{
							echo "<option value=\"$i\">$i</option>";
						}
					}
					?>
				</select>
				</span>
			</div>
			
			<div class="col-md-2">
				<div class="panel-concept-btn">
					<div class="btn-group btn-group-xs pull-right" role="group"
						aria-label="...">
			
						<?php include('module/Siergate/view/fragment/setvisibility.phtml');?>
						
						<button type="button" class="btn btn-success edit-btn"
							data-toggle="tooltip"
							title="<?php echo $this->translate('Edit list of available status') ?>"
							id="<?php echo $editlistBtnId?>">
							<span class="glyphicon glyphicon-edit" aria-hidden="true"></span>
						</button>
						
						<button type="button" class="btn btn-success save-btn"
							data-toggle="tooltip" title="<?php echo $this->translate('Save') ?>"
							id="<?php echo $saveBtnId?>">
							<span class="glyphicon glyphicon-floppy-save" aria-hidden="true"></span>
						</button>
			
						<button type="button" class="btn btn-danger delete-btn"
							data-toggle="tooltip"
							title="<?php echo $this->translate('Delete This Element') ?>"
							id="<?php echo $deleteBtnId?>"
							onclick="rbportail.removeComponent('#<?php echo $id?>');">
							<span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
						</button>
					</div>
				</div>
			</div>
		</div>
	</div>
	<?php else:
	($title=='{empty}') ? $title='' : null;?>
	<div class="panel-heading" style="">
		<div class="row">
			<div class="col-md-4">
				<a data-toggle="collapse" href="#<?php echo $bodyId?>collapse" aria-expanded="true" aria-controls="collapseOne">
					<p class="rbp-component-title rbp-statusbox-title editable label label-warning" style="display: inline-block">
						<span class="glyphicon glyphicon glyphicon-flag" aria-hidden="true" style="padding:2px"></span>
						<?php echo $title?>
					</p>
				</a>
			</div>
			<div class="col-md-8">
				<span class="rbp-component-status label label-primary" id="<?php echo $labelId?>"><?php echo $status?>
				</span>
			</div>
		</div>
	</div>
	<?php endif;?>
	
    <div id="<?php echo $bodyId?>collapse" class="panel-collapse <?php echo $collapse?>" role="tabpanel" aria-labelledby="headingOne">
	<div class="panel-body" id="<?php echo $bodyId?>">
		<div class="row">
			<div class="col-md-4">
				<h3>
					<p class="editable rbp-component-label" style="margin: 0; padding: 0">
						<?php echo $label?>
					</p>
				</h3>
			</div>
			
			<div class="col-md-8">
				<p id="<?php echo $noticeId?>" class="editable rbp-component-notice">
					<?php echo $notice?>
				</p>
			</div>
		</div>
	</div>
	
	<div class="panel-footer">
		<p class="rbp-update-label"><?php echo sprintf($this->translate('Updated by %s at %s'), $updateBy, $updated)?></p>
	</div>
	</div>
	

<?php 
include_once('module/Siergate/view/fragment/modalbox.phtml');
?>

</div>
