<?php 
$pkey = $this->id; //primary key as record in db. If > 0, consider that its not a new object
$id = $this->uid;
(isset($isSaved)) ? $isSaved = (int)$isSaved : $isSaved = 0;


$bodyId = $id.'-mainpanel';

$deleteBtnId = $id.'-deleteBtn';
$saveBtnId = $id.'-saveBtn';

$style = 'padding: 0em;';

if($width){
	$style=$style . 'width: '.$width.';';
}
if($height){
	$style=$style . ';height: '.$height.';';
}

$class = 'rbp-component rbp-tab tab-pane';
if($resizablex){
	$class=$class.' resizablex';
}
if($resizabley){
	$class=$class.' resizabley';
}
if($resizable){
	$class=$class.' resizable';
}
if($draggable){
	$class=$class.' draggable';
}
?>

<?php if ($mode == 'build'): ?>
<script>
$(function() {
	$("#<?php echo $saveBtnId?>").click(function(){
		var component = $(this).parents('.rbp-tab').first();
		component.trigger('save');
	});

	$("#<?php echo $id?>").on('save', function(e){
		e.stopPropagation(); //Else save the parents too
		return rbportail.saveTab($(this));
	});

	rbportail.init();
});
</script>
<?php endif ?>

<div class="<?php echo $class?>" id="<?php echo $id?>" style="<?php echo $style?>" rbp-visibility-level="<?php echo $visibility?>" rbp-issaved="<?php echo $isSaved?>" rbp-id="<?php echo $pkey?>" role="tabpanel">
  <div class="panel">
	<?php if ($mode == 'build'): ?>
	<div class="panel-concept-btn">
		<div class="btn-group btn-group-xs pull-right" role="group"
			aria-label="...">
			
			<?php include('module/Siergate/view/fragment/setvisibility.phtml'); ?>
			
			<?php echo $this->partial('siergate/projectbuilder/conceptbuttons.fragment.phtml', array('bodyId'=>$bodyId,)); ?>
			
		</div>
	</div>
	
	<div class="panel-heading">
		<div class="row">
			<div class="col-md-4"></div>
		</div>
	</div>
	
	<div style="display:none;">
		<p class="rbp-component-notice"><?php echo $notice?></p>
		<p class="rbp-component-label"><?php echo $label?></p>
	</div>
	<?php endif; ?>
	
	<div class="panel-body" id="<?php echo $bodyId?>">
		<div class="rbp-children rbp-sortable">
			<?php 
				$count=0;
				for($i=1,$child='children1';isset($this->$child);$child='children'.++$i){
					echo $this->$child;
					$count++;
				}
				if($count==0):
					echo '<div class="rbp-fakecomponent" style="height:50px;"></div>';
				endif;
			?>
		</div>
	</div>
	
</div>
</div>
