<?php 
$pkey = $this->id; //primary key as record in db. If > 0, consider that its not a new object
$id = $this->uid;
(isset($isSaved)) ? $isSaved = (int)$isSaved : $isSaved = 0;


$bodyId = $id.'-mainpanel';

$deleteBtnId = $id.'-deleteBtn';
$saveBtnId = $id.'-saveBtn';
$addtabBoxId = $id.'-addtabBox';
$addtabBtnId = $id.'-addtabBtn';

$style='padding: 0em;';

if($width){
	$style=$style . 'width: '.$width.';';
}
if($height){
	$style=$style . ';height: '.$height.';';
}

$class = 'rbp-component rbp-tabpanel panel panel-default';
if($resizablex){
	$class=$class.' resizablex';
}
if($resizabley){
	$class=$class.' resizabley';
}
if($resizable){
	$class=$class.' resizable';
}
if($draggable){
	$class=$class.' draggable';
}
?>

<style>
#dialog label,#dialog input {
	display: block;
}

#dialog label {
	margin-top: 0.5em;
}

#dialog input,#dialog textarea {
	width: 95%;
}

#tabs {
	margin-top: 1em;
}

#tabs li .ui-icon-close {
	float: left;
	margin: 0.4em 0.2em 0 0;
	cursor: pointer;
}

#add_tab {
	cursor: pointer;
}
</style>

<?php if ($mode == 'build'): ?>
<script>
$(function() {
	$("#<?php echo $saveBtnId?>").click(function(){
		var component = $(this).parents('.rbp-tabpanel').first();
		component.trigger('save');
	});

	$("#<?php echo $id?>").on('save', function(e){
		e.stopPropagation(); //Else save the parents too
		return rbportail.saveTabpanel($(this));
	});

	$("#<?php echo $addtabBoxId?>").find( ".btn-save" ).first().click(function(){
		var form = $("#<?php echo $addtabBoxId?>").find( "form" ).first();
		var tabLabel = form.find("[name=tab_label]").val();
		var tabNotice = form.find("[name=tab_notice]").val();
		rbportail.addTab("#<?php echo $id?>", tabLabel, tabNotice);
		$("#<?php echo $addtabBoxId?>").modal('hide');
	});

	// addTab form: calls addTab function on submit and closes the dialog
	var form = $("#<?php echo $addtabBoxId?>").find( "form" ).first().submit(function( event ){
		event.preventDefault();
	});

	$('[data-toggle="popover"]').popover({trigger:'hover'});

	$('.rbp-tabpanel-items').find('a:first').tab('show'); // Activate first tab
	
});
</script>
<?php else:?>
<script>
$(function() {
	$('.rbp-tabpanel-items').find('a:first').tab('show'); // Activate first tab
});
</script>


<?php endif;?>

<!-- BOX DEFINITION -->
<div class="<?php echo $class?>" id="<?php echo $id?>" style="<?php echo $style?>" rbp-visibility-level="<?php echo $visibility?>" rbp-issaved="<?php echo $isSaved?>" rbp-id="<?php echo $pkey?>">

	<?php if ($mode == 'build'): ?>
	<div class="panel-concept-btn">
		<div class="btn-group btn-group-xs pull-right" role="group" aria-label="...">
		
			<?php include('module/Siergate/view/fragment/setvisibility.phtml');?>
			
			<!-- Button trigger modal box for add a tab -->
			<button type="button" class="btn btn-primary addtab-btn rbp-conception-mode-btn"
				data-toggle="modal" data-target="#<?php echo $addtabBoxId?>" title="<?php echo $this->translate('Add a tab') ?>"
				id="<?php echo $addtabBtnId?>">
				<span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
			</button>

			<button type="button" class="btn btn-success save-btn"
				data-toggle="tooltip" title="<?php echo $this->translate('Save') ?>"
				id="<?php echo $saveBtnId?>">
				<span class="glyphicon glyphicon-floppy-save" aria-hidden="true"></span>
			</button>

			<button type="button" class="btn btn-danger delete-btn"
				data-toggle="tooltip"
				title="<?php echo $this->translate('Delete This Element') ?>"
				id="<?php echo $deleteBtnId?>"
				onclick="rbportail.removeComponent('#<?php echo $id?>');">
				<span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
			</button>
		</div>
	</div>
	<?php endif;?>
	
	<?php if( $mode=='build' ):?>
	<div class="panel-heading">
		<div class="row">
			<div class="col-md-8">
				<p class="rbp-component-title editable" style="display: inline-block"><?php echo $title?></p>
			</div>
			<div class="col-md-4"></div>
		</div>
	</div>
	<?php else:?>
	<div class="panel-heading" style="">
		<p class="rbp-component-title editable" style="display: inline-block"><?php echo $title?></p>
	</div>
	<?php endif;?>
	
	<div class="panel-body" id="<?php echo $bodyId?>" role="tabpanel">
			<!-- Nav tabs -->
			<ul class="rbp-tabpanel-items nav nav-tabs" role="tablist">
			<?php foreach($tabs as $tab):?>
				<li role="presentation" class="rbp-tabpanel-item">
					<a href="#<?php echo $tab->getUid()?>" aria-controls="<?php echo $tab->getUid()?>" role="tab" data-toggle="tab">
						<div class="rbp-item-notice" data-toggle="popover" data-placement="top" data-content="<?php echo $tab->getNotice()?>">
							<p class="editableone rbp-item-label"><?php echo $tab->getLabel()?></p>
						</div>
					</a>
					<?php if ($mode == 'build'): ?>
					<button type="button" class="btn btn-danger delete-btn btn-xs removetab-btn" data-toggle="tooltip"
							onclick="rbportail.removeTab(this);"
							title="Delete">
						<span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
					</button>
					<?php endif;?>
				</li>
			<?php endforeach;?>
			</ul>

			<!-- Tab panes -->
			<div class="tab-content rbp-children">
				<?php 
					for($i=1,$child='children1';isset($this->$child);$child='children'.++$i):
						echo $this->$child;
					endfor;
				?>
			</div>
	</div>
	
	<div class="panel-footer">
		<span><?php echo sprintf($this->translate('Updated by %s at %s'),$updateBy,$updated)?>
		</span>
	</div>

</div>

<?php if ($mode == 'build'): ?>
<!-- Modal box and form for add a tab -->
<div class="modal fade" id="<?php echo $addtabBoxId?>" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Add a tab</h4>
      </div>
      <div class="modal-body">
		<form>
			<div class="form-group">
			<fieldset class="">
				<label for="tab_label">Label</label> 
				<input type="text"
					name="tab_label" id="tab_label" placeholder="Label of the tab"
					class="form-control" />

				<label for="tab_notice">Notice</label>
				<textarea name="tab_notice" id="tab_notice"
					class="form-control" placeholder="Text to shortly explain about content of this tab"></textarea>
			</fieldset>
			</div>
		</form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default btn-close" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary btn-save" onClick="">Save changes</button>
      </div>
    </div>
  </div>
</div>
<?php endif;?>
