<?php 
//var_dump($bodyId);die;
?>

<div class="btn-group btn-group-xs" role="group" aria-label="...">

	<button type="button"
		class="btn btn-default dropdown-toggle btn-addcomponent"
		data-toggle="dropdown"
		title="<?php echo $this->translate('Add a component to this panel')?>"
		aria-expanded="false">
		<?php echo $this->translate('Add a component') ?>
		<span class="caret"></span>
	</button>
	
	<ul class="dropdown-menu" role="menu">
		<li><a href="#" onclick="rbportail.addComponent('box','#<?php echo $bodyId?>');"><?php echo $this->translate('Add a Box')?>
		</a></li>
		<li><a href="#" onclick="rbportail.addComponent('tabpanel','#<?php echo $bodyId?>');"><?php echo $this->translate('Add a Tab Panel')?>
		</a></li>
		<li class="divider"></li>
		<li><a href="#"
			onclick="rbportail.addComponent('indicator','#<?php echo $bodyId?>');"><?php echo $this->translate('Add a Indicator')?>
		</a>
		</li>
		
		<li><a href="#"
			onclick="rbportail.addComponent('statusbox','#<?php echo $bodyId?>');"><?php echo $this->translate('Add a Status Box')?>
		</a></li>
		
		<li><a href="#"
			onclick="rbportail.addComponent('jalon','#<?php echo $bodyId?>');"><?php echo $this->translate('Add a Jalon')?>
		</a></li>
		
		<li><a href="#"
			onclick="rbportail.addComponent('tinymce','#<?php echo $bodyId?>');"><?php echo $this->translate('Add a Text')?>
		</a></li>
		
		<li class="divider"></li>
		<!-- 
		<li><a href="#"
			onclick="rbportail.addComponent('list','#<?php echo $bodyId?>');"><?php echo $this->translate('Add a Simple Liste')?>
		</a></li>
		 -->
		<li><a href="#"
			onclick="rbportail.addComponent('filelist','#<?php echo $bodyId?>');"><?php echo $this->translate('Add a File List')?>
		</a></li>
		<li><a href="#"
			onclick="rbportail.addComponent('checkbox','#<?php echo $bodyId?>');"><?php echo $this->translate('Add a Checkbox List')?>
		</a></li>
	</ul>
</div>
