<?php
//$this->headScript()->prependFile($this->basePath() . '/js/jquery.validate.min.js');
?>

<?php
$title = 'Login';
$this->headTitle($title);
?>

<?php
$form = $this->form;
$form->setAttributes(array(
		'class'=>'form-horizontal',
));
$form->prepare();
?>

<script type="text/javascript">
</script>

<div class="container">
<div class="panel panel-default">
	<div class="panel-heading">
<h1><?php echo $title; ?></h1>
	</div>
	<div class="panel-body">
		<div class="row">
			<div class="col-sm-4">
				<img class="img-responsive"
					src="<?php echo $this->basePath().'/img/logo.png'?> ">
			</div>
			<div class="col-sm-4">
			<?php echo $this->form()->openTag($form);?>
				<?php echo $this->formRow($form->get('application')->setAttribute('class', 'form-control')); ?>

				<div class="form-group"><div class="col-sm-10">
				<?php echo $this->formRow($form->get('username')->setAttribute('class', 'form-control'));?>
				</div></div>

				<div class="form-group"><div class="col-sm-10">
				<?php echo $this->formRow($form->get('password')->setAttribute('class', 'form-control'));?>
				</div></div>

				<div class="form-group"><div class="col-sm-10">
				<?php echo $this->formRow($form->get('rememberme'));?>
				</div></div>

				<div class="form-group"><div class="col-sm-10">
				<?php echo $this->formSubmit($form->get('submit')->setAttribute('class', 'btn btn-default'));?>
				</div></div>
			<?php echo $this->form()->closeTag();?>
			</div>
		</div>
	</div>
</div>


<?php //foreach($this->):?>

<?php //endforeach;?>

<?php
$flash = $this->flashMessenger();
echo $flash->render('error',   array('alert', 'alert-dismissible', 'alert-danger'));
echo $flash->render('info',    array('alert', 'alert-dismissible', 'alert-info'));
echo $flash->render('default', array('alert', 'alert-dismissible', 'alert-warning'));
echo $flash->render('success', array('alert', 'alert-dismissible', 'alert-success'));
?>

</div>
