			<div class="btn-group btn-group-xs" role="group" aria-label="...">
				<button type="button" class="btn btn-default dropdown-toggle btn-setvisibility"
					data-toggle="dropdown"
					title="<?php echo $this->translate(
						"Set the visibility of this component : \n".
						"	Private = See only by You, \n".
						"	Internal = See by You and Collaborators, \n".
						"	Public = See by You, Collaborators and Customers"
						)?>"
					aria-expanded="false">
					<span class="btn-setvisibility-label"><?php echo $visibility?></span><span class="caret"></span>
				</button>
				<ul class="dropdown-menu" role="menu">
					<li><a href="#"
						onclick="rbportail.setVisibility('private',this);return false;">
						<p class="<?php if($visibility=='private') echo 'bg-primary';?>"><?php echo $this->translate('Private')?></p>
					</a></li>
					<li><a href="#"
						onclick="rbportail.setVisibility('internal',this);return false;">
						<p class="<?php if($visibility=='internal') echo 'bg-primary';?>"><?php echo $this->translate('Internal')?></p>
					</a>
					</li>
					<li><a href="#"
						onclick="rbportail.setVisibility('public',this);return false;">
						<p class="<?php if($visibility=='public') echo 'bg-primary';?>"><?php echo $this->translate('Public')?></p>
					</a>
					</li>
				</ul>
			</div>
