<?php 
$this->headScript()
	->prependFile($this->basePath() . '/js/codemirror/addon/edit/matchbrackets.js')
	->prependFile($this->basePath() . '/js/codemirror/mode/htmlmixed/htmlmixed.js')
	->prependFile($this->basePath() . '/js/codemirror/mode/xml/xml.js')
	->prependFile($this->basePath() . '/js/codemirror/mode/javascript/javascript.js')
	->prependFile($this->basePath() . '/js/codemirror/mode/css/css.js')
	->prependFile($this->basePath() . '/js/codemirror/mode/clike/clike.js')
	->prependFile($this->basePath() . '/js/codemirror/mode/php/php.js')
	->prependFile($this->basePath() . '/js/codemirror/lib/codemirror.js');
$this->headLink()->prependStylesheet($this->basePath() . '/js/codemirror/lib/codemirror.css');
?>

<script>
$(function(){
	var myCodeMirror = CodeMirror.fromTextArea(document.getElementById("code"),{
        lineNumbers: true,
        matchBrackets: true,
        mode: "application/x-httpd-php",
        indentUnit: 4,
        indentWithTabs: true
		});
	
	$('#edit-script-modal').show();
});
</script>


<div class="edit-script-modal" id="edit-script-modal" tabindex="-1" role="dialog" aria-hidden="true" data-activityid="">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<span class="">Edit Activity Scripts</span>
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<div class="modal-body">
				<div id="dialog-form" title="Edit Activity Script">
					<div class="input-group">
					<textarea cols=20 rows=5 name="comments" id="code" value="" class="form-control">
					</textarea>
					</div>
				</div>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
				<button type="button" class="btn btn-primary activity-edit-save">Save</button>
			</div>
		</div>
	</div>
</div>
