<?php
$this->headScript()->appendFile($this->basePath() . '/js/discussion.js');

$elemtId = 'editWu';
$addDeliverbaleBtnId = $elemtId.'-addDeliverable';
$modalBoxId = 'addDeliverableDialog';
$saveBtnId = $elemtId.'-save-btn';
$formId = $elemtId.'-form';
?>

<script>

$(function(){
	$("#<?php echo $addDeliverbaleBtnId ?>").click(function(){
		return wumanager.addDeliverable();
	});

	$(".add-btn").prepend('<span class="glyphicon glyphicon-plus" aria-hidden="true"></span>');

	var fieldsets = $(".rbp-deliverable-list").find("fieldset > fieldset");
	$.each(fieldsets, function(index, fieldset){
		wumanager.formatDeliverableFieldset($(fieldset), 'edit');
	});

	<?php if($discussion):?>
		discussion();
		loadDiscussionFromJson(<?php echo json_encode( $discussion->toArray() )?>, <?php echo $id ?>);
	<?php else:?>
		$('.rbp-discussion').hide();
	<?php endif?>


	$('.rbp-comment-respons-form').hide();
	$('.rbp-comment-template').hide();

	$(".setTos-btn").click(function($e){
		var flt = $("input#flt").val();
		var version = $("input#version").val().fixlentgh(2,'0');
		var number = $("input#number").val().fixlentgh(3,'0');

		if(flt=="" | number=="" | version=="00"){
			alert("flt, number and version must be setted");
			return;
		}

		var tos = flt+"-"+version;
		var name = flt+"-"+version+"-"+number;
		
		$("input#tos").val(tos);
		$("input#name").val(name);
	});
});
</script>

<style>
.panel-heading{
	padding-top:5px;
	padding-bottom:10px;
}
.panel-heading h1,h2,h3,h4{
	margin:5px;
}
</style>

<?php
$this->headTitle($title);
?>

<?php $commentTemplate = '
<div class="panel panel-primary %s" id="%s">
	<div class="panel-heading rbp-comment-heading">%s</div>
	<div class="panel-btn">
			<button type="button" class="btn-xs btn-danger comment-delete-btn"
				data-toggle="tooltip"
				title="Delete This Element">
				<span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
			</button>
	</div>
	<div class="panel-body">
		<div class="rbp-comment-body">
		%s
		</div>
		<div class="rbp-comment-actions">
			<a href="#" class="rbp-comment-responsbtn">Respons</a>
			<div class="rbp-comment-respons-form">
				<textarea cols="100" rows="2" class="rbp-comment-respons-input"></textarea>
				<button class="rbp-comment-savebtn">Save</button>
			</div>
		</div>
	</div>
	<div class="panel-body rbp-comment-respons">
	</div>
</div>
';
?>

<?php
$form = $this->form;
$form->setAttributes(array(
	'class'=>'form-horizontal',
	'id'=>$formId
));
$form->prepare();
$wuFieldSet = $form->get('workunit');
?>

<?php
echo $this->form()->openTag($form);
echo $this->formHidden($form->get('page'));
echo $this->formHidden($form->get('typeDimension'));

echo $this->formHidden($wuFieldSet->get('id'));
echo $this->formHidden($wuFieldSet->get('typeId'));
?>

<div class="panel panel-default">
	<div class="panel-heading" style="">
		<div class="center-block">
			<h1><?php echo $this->escapeHtml($title); ?></h1>
			<h3>Type: <?php
			$type = $this->workunit->getType();
			echo $type->getUid().'-'.$type->getName();
			?></h3>
		</div>
	</div>

	<div class="panel-body">
		<div class="panel panel-default rbp-wu-details">
			<div class="panel-heading"><h4>Work Unit Details</h4></div>
			<div class="panel-body" style="margin:15px;">
				<div class="row">
					<div class="form-group col-sm-3">
					<?echo $this->formRow($wuFieldSet->get('siteUid')->setAttribute('class', 'form-control'));?>
					</div>
					<div class="form-group col-sm-3">
					<?echo $this->formRow($wuFieldSet->get('visibility')->setAttribute('class', 'form-control'));?>
					</div>
				</div>
				
				<div class="row">
				<div class="col-sm-12">

				<div class="panel panel-info"><div class="panel-body">
				
					<fieldset class="col-sm-12">
					<div class="panel panel-info"><div class="panel-body">
					
					<div class="form-group col-sm-3">
					<?echo $this->formRow($wuFieldSet->get('flt')->setAttribute('class', 'form-control')->setAttribute('id', 'flt'));?>
					</div>
					<div class="form-group col-sm-3">
					<?echo $this->formRow($wuFieldSet->get('version')->setAttribute('class', 'form-control')->setAttribute('id', 'version'));?>
					</div>
					<div class="form-group col-sm-3">
					<?echo $this->formRow($wuFieldSet->get('number')->setAttribute('class', 'form-control')->setAttribute('id', 'number'));?>
					</div>
					</div></div>
					</fieldset>
					
					<fieldset class="col-sm-12">
					<div class="panel panel-info"><div class="panel-body">
						<?echo $this->formRow($wuFieldSet->get('tos')->setAttribute('class', 'form-control')->setAttribute('id', 'tos'));?>
						<?echo $this->formRow($wuFieldSet->get('name')->setAttribute('class', 'form-control')->setAttribute('id', 'name'));?>
						<button type="button" class="btn btn-default setTos-btn" style="display:block;">Set Tos And Name</button>
					</div></div>
					</fieldset>
				</div></div>

				<div class="row">
					<div class="form-group col-sm-3">
					<?echo $this->formRow($wuFieldSet->get('title')->setAttribute('class', 'form-control'));?>
					</div>
					<div class="form-group col-sm-3">
					<?echo $this->formRow($wuFieldSet->get('ataLeader')->setAttribute('class', 'form-control'));?>
					</div>
					<div class="form-group col-sm-3">
					<?echo $this->formRow($wuFieldSet->get('quantity')->setAttribute('class', 'form-control'));?>
					</div>
				</div>

				<div class="row">
				</div>

				<div class="row">
					<div class="form-group col-sm-3">
					<?echo $this->formRow($wuFieldSet->get('openDate')->setAttribute('class', 'form-control'));?>
					</div>
					<div class="form-group col-sm-3">
					<?echo $this->formRow($wuFieldSet->get('planDate')->setAttribute('class', 'form-control'));?>
					</div>
					<div class="form-group col-sm-3">
					<?echo $this->formRow($wuFieldSet->get('sitedeliveryDate')->setAttribute('class', 'form-control'));?>
					</div>
				</div>

				<div class="row">
					<div class="form-group col-sm-3">
					<?echo $this->formRow($wuFieldSet->get('supplierBillingDate')->setAttribute('class', 'form-control'));?>
					</div>
				</div>

				<div class="row">
					<div class="form-group col-sm-12">
					<?echo $this->formRow($wuFieldSet->get('comment')->setAttribute('class', 'form-control')->setAttribute('cols',70));?>

					<table>
					<thead><tr>
					<th></th>
					</tr></thead>
					<tbody>
					<?php foreach( $wuFieldSet->comments as $comment):?>
					<tr>
						<td><?php echo $comment['updated']?></td>
						<td><?php echo $comment['ownerUid']?></td>
						<td><?php echo $comment['body']?></td>
					</tr>
					<?php endforeach;?>
					</tbody>
					</table>

					</div>
				</div>

				<div class="pull-right">
				<?php echo $this->formSubmit($form->get('submit')
					->setAttribute('class', 'btn btn-success')
					->setAttribute('id', $saveBtnId)
					);?>
				</div>
			</div>
		</div>

		<div class="panel panel-default rbp-deliverable">
			<div class="panel-heading"><h4>Deliverables Documents</h4></div>
			<div class="panel-body" style="margin:15px;">
				<div class="rbp-deliverable-list">
				<?php
					echo $this->formCollection( $wuFieldSet->get('deliverables') );
				?>
				</div>
				<?php
				echo $this->formRow($wuFieldSet->get('addDeliverable')
					->setAttribute('title', 'Add Deliverable')
					->setAttribute('data-toggle', 'tooltip')
					->setAttribute('id', $addDeliverbaleBtnId)
					);
				?>
				<div class="pull-right">
				<?php echo $this->formSubmit($form->get('submit'));?>
				</div>
			</div>
		</div>


		<div class="panel panel-default rbp-discussion">
			<div class="panel-heading">
			<a class="btn" role="button" data-toggle="collapse" href=".rbp-discussions-panel" aria-expanded="false" aria-controls=".rbp-wu-details>.panel-body">
			<h4>Discussions</h4>
			</a>
			</div>
			<div class="panel-body collapse in rbp-discussions-panel">
				<div class="rbp-discussions" id="<?php echo $id?>">
				</div>
				<hr>
				<div class="rbp-discussions-new">
					<textarea class="form-control rbp-comment-respons-input" cols="100" rows="2"></textarea>
					<button type="button" class="btn btn-default rbp-discussion-newbtn">New discussion</button>
				</div>
			</div>
		</div>
	</div>
</div>
<?php echo $this->form()->closeTag();?>

<?php
echo sprintf($commentTemplate, 'rbp-comment-template', '', '', '');
?>
