<?php
$id = 'editWu';
$editlistBtnId = $id.'-addDeliverable';
$modalBoxId = 'addDeliverableDialog';
$formId = $id.'-form';
$this->headScript()->prependFile($this->basePath() . '/js/jquery.validate.min.js');
?>

<script>
$(function(){
	var classificationForm = new wumanagerClassificationForm();
	classificationForm.init("<?php echo $this->url('wumanager') ?>/");
});
</script>

<style>
.panel-heading{
	padding-top:5px;
	padding-bottom:10px;
}
.panel-heading h1,h2,h3,h4{
	margin:5px;
}
</style>

<?php
$title = 'Add new Workunit';
$this->headTitle($title);
?>

<?php
$form = $this->form;
$form->setAttributes(array(
	'class'=>'form-horizontal',
	'id'=>$formId
));
$form->prepare();
?>

<?echo $this->form()->openTag($form);?>
<?echo $this->formHidden($form->get('id'));?>

<div class="panel panel-default">
	<div class="panel-heading">
	<h1><?php echo $this->escapeHtml($title); ?></h1>
	</div>

	<div class="panel-body">
		<div class="panel panel-default rbp-wu-details">
			<div class="panel-heading"><h4>Work Unit Details</h4></div>
			<div class="panel-body">
					<div class="col-sm-12">
							<div class="form-group">
							<?echo $this->formRow($form->get('context')->setAttribute('class', 'form-control'));?>
							<?echo $this->formRow($form->get('typeDimension')->setAttribute('class', 'form-control'));?>
							<?echo $this->formRow($form->get('typeId')->setAttribute('class', 'form-control'));?>
							</div>
					</div>
			</div>
		</div>
	</div>

	<div class="panel-footer" style="height:50px;">
	<span class="pull-right">
		<?php echo $this->formSubmit($form->get('next')->setAttribute('class', 'btn btn-success'));?>
	</span>
	</div>

</div>
<?php echo $this->form()->closeTag();?>
