<?php 
echo $this->doctype();
?>
<html lang="fr">
<head>
<meta charset="utf-8">
<?php echo $this->headTitle($siteName)->setSeparator(' - ')->setAutoEscape(false) ?>
<?php echo $this->headMeta()
			->appendName('viewport', 'width=device-width, initial-scale=1.0')
			->appendHttpEquiv('X-UA-Compatible', 'IE=edge')
?>

<!-- Le styles -->
<?php echo $this->headLink(array('rel' => 'shortcut icon', 'type' => 'image/vnd.microsoft.icon', 'href' => $this->basePath() . '/img/favicon.png'))
->prependStylesheet($this->basePath() . '/css/datepicker/datepicker3.css')
->prependStylesheet($this->basePath() . '/bootstrap/css/bootstrap-theme.min.css')
->prependStylesheet($this->basePath() . '/css/jquery-ui.min.css')
->prependStylesheet($this->basePath() . '/bootstrap/css/bootstrap.min.css')
?>

<!-- Scripts -->
<?php echo $this->headScript()
->prependFile($this->basePath() . '/js/datepicker/bootstrap-datepicker.js')
->prependFile($this->basePath() . '/js/jquery.editinplace.js')
->prependFile($this->basePath() . '/bootstrap/js/bootstrap.min.js')
->prependFile($this->basePath() . '/js/jquery-ui/jquery-ui.min.js')
->prependFile($this->basePath() . '/js/jquery/jquery.min.js')
->prependFile($this->basePath() . '/js/respond.min.js', 'text/javascript', array('conditional' => 'lt IE 9',))
->prependFile($this->basePath() . '/js/html5shiv.js', 'text/javascript', array('conditional' => 'lt IE 9',))
->prependFile($this->basePath() . '/js/tinymce/tinymce.min.js')
->prependFile($this->basePath() . '/js/rbportail.js')
->prependFile($this->basePath() . '/js/jssor/jssor.slider.mini.js')
->prependFile($this->basePath() . '/js/wumanager.js')
?>


<script>
var rbportail = new rbportail();
var wumanager = new wumanager();
rbportail.setComponentGetterBaseUrl("/<?php echo trim($this->url('component'),'/')?>");
wumanager.baseUrl = "<?php echo $this->url('wumanager') ?>/";
</script>

</head>
<body>

<?php echo $this->content; ?>

</body>
</html>
