<?php 
$id = 'startProcess';
$formId = $id.'-form';
$saveBtnId = 'save';
?>

<script>
$(function(){
});

function stopProcess(id){
	var ok = confirm('Are you Sure?');
	if(ok == true){
		$url = "<?php echo $this->url('wuprocess', array('action'=>'stop'))?>"+id;
		window.open($url,"_self");
	}
}

function deleteLast(id){
	var message = "Do you want really suppressed the last activity of this process and get back to the previous status?";
	var ok = confirm(message);
	if(ok == true){
		$url = "<?php echo $this->url('wuprocess', array('action'=>'deletelast'))?>"+id;
		window.open($url,"_self");
	}
}


</script>

<style>
.panel-heading {
	padding-top: 5px;
	padding-bottom: 10px;
}

.panel-heading h1,h2,h3,h4 {
	margin: 5px;
}
</style>

<?php
$title = 'Start a process';
$this->headTitle($title);
?>

<?php
$form = $this->form;
$form->setAttributes(array(
	'class'=>'form-horizontal',
	'id'=>$formId
));
$form->prepare();
?>

<?php
echo $this->form()->openTag($form);
echo $this->formHidden($form->get('parentId'));
?>

<div class="panel panel-default">
	<div class="panel-heading">
		<div class="center-block">
			<h1>
				<?php echo $this->escapeHtml($title) ?>
			</h1>
			<h4>
				<?php echo $this->escapeHtml($this->workunit->getName()) ?>
			</h4>
		</div>
	</div>

	<div class="panel-body">
		<div class="form-group col-sm-12">
			<?echo $this->formRow($form->get('childId')->setAttribute('class', 'form-control'));?>
		</div>
		<?php echo $this->formSubmit($form->get('submit')
			->setAttribute('class', 'btn btn-success')
			->setAttribute('id', $saveBtnId)
		);?>
	</div>
</div>
<?php echo $this->form()->closeTag();?>

<div class="panel panel-default">
	<div class="panel-heading">
		<div class="center-block">
			<h1>Running process</h1>
		</div>
	</div>

	<div class="panel-body">
		<table class="table">
			<thead>
				<tr>
					<th>#</th>
					<th>Name</th>
					<th>Started</th>
					<th>Owner</th>
					<th>Status</th>
					<th>Attributes</th>
				</tr>
			</thead>
			<tbody>
				<?php 
				foreach($this->runningProcess as $item){
					echo '<tr>';
					echo '<td>'.$item['id'].'</td>';
					echo '<td>'.$item['name'].'</td>';
					echo '<td>'.$item['started'].'</td>';
					echo '<td>'.$item['ownerId'].'</td>';
					echo '<td>'.$item['status'].'</td>';
					echo '<td>'.$item['attributes'].'</td>';
					?>
				<td nowrap style="width: 80px;">
					<div class="btn-group btn-group-xs project-btn" role="group"
						aria-label="...">
						<button type="button" class="btn btn-default dropdown-toggle"
							data-toggle="dropdown" aria-expanded="false">
							<span class="caret"></span>
						</button>
						<ul class="dropdown-menu" role="menu">
							<li><a href="#" class="btn-danger delete-btn"
								onclick="stopProcess(<?php echo $item['id'] ?>);"> <?php echo $this->translate('Delete') ?>
							</a> <a href="#" class="btn-danger delete-btn"
								onclick="deleteLast(<?php echo $item['id'] ?>);"> <?php echo $this->translate('Delete Last Activity') ?>
							</a>
							</li>
						</ul>
					</div>
				</td>
				<?php
				echo '</tr>';
				}
				?>
			</tbody>
		</table>
	</div>
</div>

