<?php 
$id = 'editType';
$addDeliverbaleBtnId = $id.'-addDeliverable';
$modalBoxId = 'addDeliverableDialog';
$saveBtnId = $id.'-save-btn';
$formId = $id.'-form';
?>

<script>
$(function(){
	$("#<?php echo $addDeliverbaleBtnId ?>").click(function(){
		return wumanager.addDeliverable();
	});
	
	$(".add-btn").prepend('<span class="glyphicon glyphicon-plus" aria-hidden="true"></span>');

	var fieldsets = $(".rbp-deliverable-list").find("fieldset > fieldset");
	$.each(fieldsets, function(index, fieldset){
		wumanager.formatDeliverableFieldset($(fieldset), 'edit');
	});
});
</script>

<style>
.panel-heading{
	padding-top:5px;
	padding-bottom:10px;
}
.panel-heading h1,h2,h3,h4{
	margin:5px;
}
</style>

<?php
$this->headTitle($title);
?>

<?php
$form = $this->form;
$form->setAttributes(array(
	'class'=>'form-horizontal',
	'id'=>$formId
));
$form->prepare();
?>

<?php
echo $this->form()->openTag($form);
//echo $this->formHidden($form->get('id'));
?>

<div class="panel panel-default">
	<div class="panel-heading" style="">
		<div class="center-block">
			<h1><?php echo $this->escapeHtml($title); ?></h1>
		</div>
	</div>
	
	<div class="panel-body">
		<div class="panel panel-default rbp-wu-details">
			<div class="panel-heading"><h4>Details</h4></div>
			<div class="panel-body" style="margin:15px;">
				
				<div class="form-group row">
					<div class="input-group col-sm-4">
					<?echo $this->formLabel($form->get('name')->setLabelAttributes(array('class'=>'input-group-addon')));?>
					<?echo $this->formElement($form->get('name')->setAttribute('class', 'form-control'));?>
					</div>
					<div class="input-group col-sm-4">
					<?echo $this->formLabel($form->get('uid')->setLabelAttributes(array('class'=>'input-group-addon')));?>
					<?echo $this->formElement($form->get('uid')->setAttribute('class', 'form-control'));?>
					</div>
				</div>
				
				<div class="form-group row">
					<div class="input-group col-sm-4">
					<?echo $this->formLabel($form->get('tuProduction')->setLabelAttributes(array('class'=>'input-group-addon')));?>
					<?echo $this->formElement($form->get('tuProduction')->setAttribute('class', 'form-control'));?>
					<span class="input-group-addon">cheure</span>
					</div>

					<div class="input-group col-sm-4">
					<?echo $this->formLabel($form->get('tuManagement')->setLabelAttributes(array('class'=>'input-group-addon')));?>
					<?echo $this->formElement($form->get('tuManagement')->setAttribute('class', 'form-control'));?>
					<span class="input-group-addon">cheure</span>
					</div>
					<div class="input-group col-sm-4">
					<?echo $this->formLabel($form->get('tuProductionTlse')->setLabelAttributes(array('class'=>'input-group-addon')));?>
					<?echo $this->formElement($form->get('tuProductionTlse')->setAttribute('class', 'form-control'));?>
					<span class="input-group-addon">cheure</span>
					</div>
					<div class="input-group col-sm-4">
					<?echo $this->formLabel($form->get('tuManagementTlse')->setLabelAttributes(array('class'=>'input-group-addon')));?>
					<?echo $this->formElement($form->get('tuManagementTlse')->setAttribute('class', 'form-control'));?>
					<span class="input-group-addon">cheure</span>
					</div>
				</div>
				
				<div class="form-group row">
					<div class="input-group col-sm-4">
					<?echo $this->formLabel($form->get('amount')->setLabelAttributes(array('class'=>'input-group-addon')));?>
					<?echo $this->formElement($form->get('amount')->setAttribute('class', 'form-control'));?>
					<span class="input-group-addon" aria-hidden="true"><span class="glyphicon glyphicon-euro" aria-hidden="true"></span></span>
					</div>
					
					<div class="input-group col-sm-4">
					<?echo $this->formLabel($form->get('salesRate')->setLabelAttributes(array('class'=>'input-group-addon')));?>
					<?echo $this->formElement($form->get('salesRate')->setAttribute('class', 'form-control'));?>
					<span class="input-group-addon">%</span>
					</div>
					
				</div>
				
				<div class="pull-right">
				<?php echo $this->formSubmit($form->get('submit')
					->setAttribute('class', 'btn btn-success')
					->setAttribute('id', $saveBtnId)
					);?>
				</div>
			</div>
		</div>
		
	</div>
</div>
<?php echo $this->form()->closeTag();?>

