<?php
$this->headScript()
->prependFile($this->basePath() . '/js/wumanager.js')
->prependFile($this->basePath() . '/js/application.js');

$this->headTitle($title);
$formId = 'confirm-form';
$form = $this->form;
$form->setAttributes(array(
	'class'=>'form-horizontal',
	'id'=>$formId
));
$form->prepare();
echo $this->form()->openTag($form);
?>


<div class="panel panel-default">
	<!-- Panel HEADING -->
	<div class="panel-heading" style="">
		<div class="center-block">
			<h1><?php echo $this->escapeHtml($title); ?></h1>
		</div>
	</div>

	<!-- Panel BODY -->
	<div class="panel-body">
		<!-- WU RECAP -->
		<?php foreach ($form->get('workunits') as $workunitFieldset):?>
			<div class="panel panel-default">
			<div class="panel-body" style="margin:15px;">

			<?php
			$wu = $workunitFieldset->getObject();
			$type = $wu->getType();
			$alerts = (isset($wu->checkerResult['alerts'])) ? $wu->checkerResult['alerts'] : [];
			$errors = (isset($wu->checkerResult['errors'])) ? $wu->checkerResult['alerts'] : [];
			$todo = $wu->checkerResult['todo'];
			if($todo == 'create'):?>
				<div class="alert alert-success">
					<h4>Create <small>a workunit of type <?php echo $type->getUid()?> - <?php echo $type->getName()?></small></h4>
				</div>
			<?php elseif($todo == 'version'):?>
				<div class="alert alert-info">
					<h4>Create New Version</h4>
				</div>
			<?php elseif($todo == 'edit'):?>
				<div class="alert alert-warning">
					<h4>Edit - Same Issue</h4>
					<h5>#<?php echo $wu->getId()?> <?php echo $wu->getName().' v'.$wu->getVersion()?></h5>
				</div>
			<?php elseif($todo == 'issue'):?>
				<div class="alert alert-warning">
					<h4>Edit - Update Issue</h4>
					<h5>#<?php echo $wu->getId()?> <?php echo $wu->getName().' v'.$wu->getVersion()?></h5>
				</div>
			<?php elseif($todo == 'downgrade'):?>
				<div class="alert alert-danger">
					<h4>Edit - Down Grade Issue</h4>
					<h5>#<?php echo $wu->getId()?> <?php echo $wu->getName().' v'.$wu->getVersion()?></h5>
				</div>
			<?php elseif($todo == 'ignore'):?>
				<div class="alert alert-danger">
					<h3>Ignore</h3>
					<h5><?php echo $wu->getName()?></h5>
				</div>
			<?php endif;?>

			<div class="rbp-workunit-properties alert alert-info">
			<legend>Workunit</legend>
			<div class="input-group">
			<?php
			echo $this->formRow( $workunitFieldset->get('name') );
			echo $this->formRow( $workunitFieldset->get('title') );
			echo $this->formRow( $workunitFieldset->get('tos') );
			echo $this->formRow( $workunitFieldset->get('quantity') );
			?>
			</div>
			<div class="input-group">
			<?php
			echo $this->formRow( $workunitFieldset->get('siteUid') );
			echo $this->formRow( $workunitFieldset->get('visibility') );
			?>
			</div>
			</div>

			<div class="rbp-deliverables alert alert-warning">
			<legend>Deliverable</legend>
			<?php foreach ($workunitFieldset->get('deliverables') as $deliverableFieldset):?>
			<div class="input-group">
				<?php
				echo $this->formRow( $deliverableFieldset->get('name') );
				echo $this->formRow( $deliverableFieldset->get('indice') );
				echo $this->formRow( $deliverableFieldset->get('section') );
				echo $this->formRow( $deliverableFieldset->get('team') );
				echo $this->formRow( $deliverableFieldset->get('comment') );
				?>
			</div>
			<?php endforeach;?>
			</div>

			<?php
			if(count($alerts)>0):
			foreach($alerts as $alert):
			?>
				<div class="alert alert-danger">
					<h5><?php echo $alert ?></h5>
				</div>
			<?php
			endforeach;
			endif;
			?>

			<?php
			if(count($errors)>0):
			foreach($errors as $error):
			?>
				<div class="alert alert-danger">
					<h3><?php echo $error ?></h3>
				</div>
			<?php
			endforeach;
			endif;
			?>

			</div>
			</div>
		<?php endforeach;?>

		<?php if(isset($form->getObject()->deleted)): ?>
			<div class="alert alert-danger">
				<h3><?php echo $form->getObject()->deletedCount ?> workunit(s) must be deleted. Check FLT.</h3>
			</div>
		<?php endif; ?>

		<div class="alert alert-success">
			<h3>Don't forget to check if some Workunits must be deleted. Case of deleted deliverable rows on issued FLT is not take into account.</h3>
		</div>
	</div>

	<div class="panel-footer" style="height:50px;">
	<span class="pull-right">
		<?php echo $this->formSubmit($form->get('run')->setAttribute('class', 'btn btn-success'));?>
	</span>
	</div>

</div>

<?php echo $this->form()->closeTag();?>
