<?php
$id = 'importFlt';
$formId = $id.'-form';
$this->headScript()->prependFile($this->basePath() . '/js/jquery.validate.min.js');
?>

<script>
$(function(){
});
</script>

<style>
.panel-heading{
	padding-top:5px;
	padding-bottom:10px;
}
.panel-heading h1,h2,h3,h4{
	margin:5px;
}
</style>

<?php
$title = 'Import Flt From Excel File';
$this->headTitle($title);
?>

<?php
$form = $this->form;
$form->setAttributes(array(
	'class'=>'form-horizontal',
	'id'=>$formId
));
$form->prepare();
?>

<?echo $this->form()->openTag($form);?>

<div class="panel panel-default">
	<div class="panel-heading">
	<h1><?php echo $this->escapeHtml($title); ?></h1>
	</div>

	<div class="panel-body">
		<div class="col-sm-12">
		    <div class="form-element">
		        <?php
		        $fileElement = $form->get('file')->setAttribute('class', 'btn btn-default btn-file');
		        echo $this->formRow($fileElement);
		        ?>
		    </div>
		</div>
	</div>

	<div class="panel-footer" style="height:50px;">
	<span class="pull-right">
		<?php echo $this->formSubmit($form->get('next')->setAttribute('class', 'btn btn-success'));?>
	</span>
	</div>

</div>
<?php echo $this->form()->closeTag();?>
