<?php
$this->headScript()
->prependFile($this->basePath() . '/js/wumanager.js')
->prependFile($this->basePath() . '/js/application.js');


$this->headTitle($title);
$formId = 'confirm-form';
$form = $this->form;
$form->setAttributes(array(
	'class'=>'form-horizontal',
	'id'=>$formId
));
$form->prepare();
$classificationForm = $form->get('classification');
echo $this->form()->openTag($form);
echo $this->formHidden($form->get('id'));
?>

<script>
$(function(){
	var classificationForm = new wumanagerClassificationForm();
	classificationForm.init("<?php echo $this->url('wumanager') ?>/");
});
</script>

<div class="panel panel-default">
	<!-- Panel HEADING -->
	<div class="panel-heading" style="">
		<div class="center-block">
			<h1><?php echo $this->escapeHtml($title); ?></h1>
		</div>
	</div>

	<!-- Panel BODY -->
	<div class="panel-body">


		<!-- PROPERTIES -->
		<div class="panel panel-default rbp-deliverable">
			<div class="panel-heading"><h4>Workunit</h4></div>
			<div class="panel-body" style="margin:15px;">
				<div class="rbp-deliverable-list">
				<?php echo $this->formRow( $form->get('name') );?>
				<?php echo $this->formRow( $form->get('title') );?>
				<?php echo $this->formRow( $form->get('tos') );?>
				</div>
			</div>
		</div>

		<!-- DELIVERABLE RECAP -->
		<div class="panel panel-default rbp-deliverable">
			<div class="panel-heading"><h4>Deliverables Documents</h4></div>
			<div class="panel-body" style="margin:15px;">
				<div class="rbp-deliverable-list">
				<?php
					echo $this->formCollection( $form->get('deliverables') );
				?>
				</div>
			</div>
		</div>

		<!-- CLASSIFICATION RECAP -->
		<div class="panel panel-default rbp-deliverable">
			<div class="panel-heading"><h4>Classification</h4></div>
			<div class="panel-body" style="margin:15px;">
				<div class="form-group rbp-classification">
				<?php
				echo $this->formRow($classificationForm->get('context')->setAttribute('class', 'form-control'));
				echo $this->formRow($classificationForm->get('typeDimension')->setAttribute('class', 'form-control'));
				echo $this->formRow($classificationForm->get('typeId')->setAttribute('class', 'form-control'));
				?>
				</div>
			</div>
		</div>
	</div>
</div>

<?php echo $this->form()->closeTag();?>
