th.sortable{
	cursor:pointer;
}
th.sortable>span{
}
table{
	width: 95%;
	font-size: 12px;
}
.form-control-paginator{
	height:30px;
	font-size:12px;
}
.btn-paginator-prev, .btn-paginator-next{
	height:30px;
	width:30px;
	font-size:10px;
}
.control-panel{
	height:60px;
	width:1500px;
	position:absolute;
	top:2px;
	left:150px;
}
.panel-filter{
	padding:0;
	margin:2px;
	position:absolute;
	left:20px;
	top:0px;
}
.panel-pagination{
	padding:0;
	margin:2px;
	position:absolute;
	right:150px;
	top:0px;
}
.panel-buttons{
	padding:0;
	margin:2px;
	position:absolute;
	right:20px;
	top:0px;
}
.dropdown-submenu {
    position: relative;
}

.dropdown-submenu>.dropdown-menu {
    top: 0;
    left: 100%;
    margin-top: -6px;
    margin-left: -1px;
    -webkit-border-radius: 0 6px 6px 6px;
    -moz-border-radius: 0 6px 6px;
    border-radius: 0 6px 6px 6px;
}

.dropdown-submenu:hover>.dropdown-menu {
    display: block;
}

.dropdown-submenu>a:after {
    display: block;
    content: " ";
    float: right;
    width: 0;
    height: 0;
    border-color: transparent;
    border-style: solid;
    border-width: 5px 0 5px 5px;
    border-left-color: #ccc;
    margin-top: 5px;
    margin-right: -10px;
}

.dropdown-submenu:hover>a:after {
    border-left-color: #fff;
}

.dropdown-submenu.pull-left {
    float: none;
}

.rbp-comment{
	padding:0px;
	margin:0px;
	margin-top:5px;
}
.rbp-comment-respons{
	padding-left:10px;
	padding-right:10px;
	padding-top:0px;
	padding-bottom:0px;
	margin:5px;
}
.rbp-comment-body{
	padding:0;
	margin:0;
}
.panel-primary{
	position: relative;
}
.panel-btn{
	position: absolute;
	top:0;
	right:0;
	display: inline-block;
	vertical-align: middle;
}
