div.activity-title {
	position:absolute; 
	top:25px; 
	left:5px; 
	padding:0; 
	margin:0;
	background-color: rgba(255,255,255,0.0);
	text-align: center;
	text-transform: uppercase;
	font: 12px sans-serif;
}

div.activity-name {
	position:absolute; 
	top:10px;
	left:11px;
	padding:0; 
	margin:0;
	background-color: transparent;
	text-align: center;
	font: 10px sans-serif;
}

div.activity {
    padding: 0;
    position: absolute;
    z-index: 0;
    border: 1px solid #2e6f9a;
    box-shadow: 2px 2px 19px #e0e0e0;
    -o-box-shadow: 2px 2px 19px #e0e0e0;
    -webkit-box-shadow: 2px 2px 19px #e0e0e0;
    -moz-box-shadow: 2px 2px 19px #e0e0e0;
    -moz-border-radius: 8px;
    border-radius: 8px;
    opacity: 0.8;
    filter: alpha(opacity=80);
    cursor: move;
    background-color: white;
    font-size: 11px;
    -webkit-transition: background-color 0.25s ease-in;
    -moz-transition: background-color 0.25s ease-in;
    transition: background-color 0.25s ease-in;
}

div.activity:hover {
    background-color: #5c96bc;
    color: black;
}

div.activity-activity {
	width: 100px;
	height: 60px;
}

div.activity-start {
	width: 80px;
	height: 60px;
	border-radius: 50px 50px 10px 10px;
}

div.activity-end {
	width: 80px;
	height: 60px;
	border-radius: 10px 10px 50px 50px;
}

div.activity-standalone {
	width: 100px;
	height: 60px;
	border-radius: 1px;
}

div.activity-switch {
	border: transparent;
	height: 80px;
	width: 80px;
}

.activity-switch > .activity-name {
	top:30px; 
	left:20px;
}

.activity-switch > .activity-title {
	top:40px;
	left:15px;
}

div.shape-trapeze {
	postion:absolute;
	margin:10px;
	border: 1px solid #2e6f9a;
	height: 60px;
	width: 60px;
	-webkit-transform: rotate(45deg);
	-moz-transform: rotate(45deg);
	-ms-transform: rotate(45deg);
	-o-transform: rotate(45deg);
}

div.activity-split {
	width: 80px;
	height:80px;
	margin:0;
	padding:0;
}

div.shape-triangle-up {
	postion:absolute;
	margin:0px;
	padding:0px;
	width: 0;
	height: 0;
	border-left: 40px solid transparent;
	border-right: 40px solid transparent;
	border-bottom: 80px solid #2e6f9a;
}

div.activity-join {
	width: 80px;
	height:80px;
	margin:0;
	padding:0;
}

div.shape-triangle-down {
	postion:absolute;
	margin:0;
	padding:0;
	width: 0;
	height: 0;
	border-left: 40px solid transparent;
	border-right: 40px solid transparent;
	border-top: 80px solid #2e6f9a;
}

.connection-label {
    -webkit-transition: background-color 0.25s ease-in;
    -moz-transition: background-color 0.25s ease-in;
    transition: background-color 0.25s ease-in;
}

.connection-label._jsPlumb_hover, ._jsPlumb_source_hover, ._jsPlumb_target_hover {
    background-color: #1e8151;
    color: white;
}

.connection-label {
    background-color: white;
    opacity: 0.8;
    padding: 0.3em;
    border-radius: 0.5em;
    border: 1px dotted #346789;
    cursor: pointer;
}

.jsplumb-drag {
	border: 4px solid pink;
}

path,._jsPlumb_endpoint {
	cursor: pointer;
}

.workflow-graph {
	border: 1px solid pink;
	width: 1000px;
	height: 1200px;
}

.input-help {
	font-style: italic;
	font-size: 1em;
}
