<?php
/* @var \Zend\View\Renderer\PhpRenderer $this */
/* @var string $title */
/* @var array $linkedContext */

$id = 'editType';
$addrowBtnId = $id.'-addType';
//$modalBoxId = 'addDeliverableDialog';
$saveBtnId = $id.'-save-btn';
$formId = $id.'-form';
?>

<script>
$(function(){
	$('tr.context-item-prototype').hide();

	$(".delete-context-btn").click(function(e){
		e.preventDefault();

		var ok = confirm('Are you Sure than you want delete it?');
		if(ok == false){
			return;
		}

		var form = $(this).parents('#<?=$formId?>').first();
		var typeId = form.find('[name="id"]').val().trim();

		var itemTr = $(this).parents('tr.context-item').first();
		var contextId = itemTr.find('p.context-item-id').text();

		$.ajax({
			type : 'get',
			url : "<?=$this->url('wutypelink', array('action'=>'delete'))?>",
			dataType: 'json',
			data : {
				layout:'fragment',
				contextId:contextId,
				typeId:typeId,
				successpage:"user/display/"
			},
			success : function(html, textStatus, jqXHR){
				itemTr.remove();
			},
			error : function(data, textStatus, jqXHR){
			}
		});
	});

	$(".add-context-btn").click(function(e){
		e.preventDefault();

		var form = $(this).parents('#<?=$formId?>').first();
		var contextId = form.find('[name="context"]').val().trim();
		var typeId = form.find('[name="id"]').val().trim();

		if(contextId==""||typeId==""){
			alert("You must create type first.");
			return;
		}

		var prototype = form.find('tr.context-item-prototype').first().clone(true); //clone with events

		prototype.removeClass('context-item-prototype');
		prototype.addClass('context-item');

		$.ajax({
			type : 'get',
			url : "<?=$this->url('wutypelink', array('action'=>'add'))?>",
			dataType: 'json',
			data : {
				layout:'fragment',
				contextid:contextId,
				typeid:typeId,
				successpage:""
			},
			success : function(json, textStatus, jqXHR){
				prototype.find('tr.context-item').attr('id',json.context.id);
				prototype.find('p.context-item-name').text(json.context.name);
				prototype.find('p.context-item-id').text(json.context.id);
				$('.add-context-btn').parents('tr').first().before(prototype);
				prototype.show();
			},
			error : function(data, textStatus, jqXHR){
				alert(textStatus);
			}
		});
	});

});
</script>

<style>
.panel-heading{
	padding-top:5px;
	padding-bottom:10px;
}
.panel-heading h1,h2,h3,h4{
	margin:5px;
}
</style>

<?php
$this->headTitle($title);
?>

<?php
$form = $this->form;
$form->setAttributes(array(
	'class'=>'form-horizontal',
	'id'=>$formId
));
$form->prepare();
?>

<?php
echo $this->form()->openTag($form);
echo $this->formHidden($form->get('id'));
?>

<div class="panel panel-default">
	<div class="panel-heading" style="">
		<div class="center-block">
			<h1><?=$this->escapeHtml($title); ?></h1>
		</div>
	</div>

	<div class="panel-body">
		<div class="panel panel-default rbp-wu-details">
			<div class="panel-heading"><h4>Details</h4></div>
			<div class="panel-body" style="margin:15px;">

				<div class="form-group row">
					<div class="input-group col-sm-4">
					<?echo $this->formLabel($form->get('name')->setLabelAttributes(array('class'=>'input-group-addon')));?>
					<?echo $this->formElement($form->get('name')->setAttribute('class', 'form-control'));?>
					</div>
					<div class="input-group col-sm-4">
					<?echo $this->formLabel($form->get('uid')->setLabelAttributes(array('class'=>'input-group-addon')));?>
					<?echo $this->formElement($form->get('uid')->setAttribute('class', 'form-control'));?>
					</div>
					<div class="input-group col-sm-4">
					<?echo $this->formLabel($form->get('dimension')->setLabelAttributes(array('class'=>'input-group-addon')));?>
					<?echo $this->formElement($form->get('dimension')->setAttribute('class', 'form-control'));?>
					</div>
				</div>

				<div class="form-group row">
					<div class="input-group col-sm-4">
					<?echo $this->formLabel($form->get('tuProduction')->setLabelAttributes(array('class'=>'input-group-addon')));?>
					<?echo $this->formElement($form->get('tuProduction')->setAttribute('class', 'form-control'));?>
					<span class="input-group-addon">cheure</span>
					</div>

					<div class="input-group col-sm-4">
					<?echo $this->formLabel($form->get('tuManagement')->setLabelAttributes(array('class'=>'input-group-addon')));?>
					<?echo $this->formElement($form->get('tuManagement')->setAttribute('class', 'form-control'));?>
					<span class="input-group-addon">cheure</span>
					</div>
					<div class="input-group col-sm-4">
					<?echo $this->formLabel($form->get('tuProductionTlse')->setLabelAttributes(array('class'=>'input-group-addon')));?>
					<?echo $this->formElement($form->get('tuProductionTlse')->setAttribute('class', 'form-control'));?>
					<span class="input-group-addon">cheure</span>
					</div>
					<div class="input-group col-sm-4">
					<?echo $this->formLabel($form->get('tuManagementTlse')->setLabelAttributes(array('class'=>'input-group-addon')));?>
					<?echo $this->formElement($form->get('tuManagementTlse')->setAttribute('class', 'form-control'));?>
					<span class="input-group-addon">cheure</span>
					</div>
				</div>

				<div class="form-group row">
					<div class="input-group col-sm-4">
					<?echo $this->formLabel($form->get('amount')->setLabelAttributes(array('class'=>'input-group-addon')));?>
					<?echo $this->formElement($form->get('amount')->setAttribute('class', 'form-control'));?>
					<span class="input-group-addon" aria-hidden="true"><span class="glyphicon glyphicon-euro" aria-hidden="true"></span></span>
					</div>

					<div class="input-group col-sm-4">
					<?echo $this->formLabel($form->get('salesRate')->setLabelAttributes(array('class'=>'input-group-addon')));?>
					<?echo $this->formElement($form->get('salesRate')->setAttribute('class', 'form-control'));?>
					<span class="input-group-addon">%</span>
					</div>
				</div>
				
				<div class="form-group row">
					<div class="input-group col-sm-4">
					<?echo $this->formLabel($form->get('costGeometric')->setLabelAttributes(array('class'=>'input-group-addon')));?>
					<?echo $this->formElement($form->get('costGeometric')->setAttribute('class', 'form-control'));?>
					<span class="input-group-addon" aria-hidden="true"><span class="glyphicon glyphicon-usd" aria-hidden="true"></span></span>
					</div>
					
					<div class="input-group col-sm-4">
					<?echo $this->formLabel($form->get('newCostGeometric')->setLabelAttributes(array('class'=>'input-group-addon')));?>
					<?echo $this->formElement($form->get('newCostGeometric')->setAttribute('class', 'form-control'));?>
					<span class="input-group-addon" aria-hidden="true"><span class="glyphicon glyphicon-usd" aria-hidden="true"></span></span>
					</div>

					<div class="input-group col-sm-4">
					<?echo $this->formLabel($form->get('costSolintep')->setLabelAttributes(array('class'=>'input-group-addon')));?>
					<?echo $this->formElement($form->get('costSolintep')->setAttribute('class', 'form-control'));?>
					<span class="input-group-addon" aria-hidden="true"><span class="glyphicon glyphicon-euro" aria-hidden="true"></span></span>
					</div>
				</div>
				
				<div class="form-group row linkedcontext">
				<table class="linkedcontext-list">
					<tr>
					<th>#</th>
					<th>Context Name</th>
					</tr>

					<tr class="context-item-prototype" id="">
						<td><p class="context-item-id"></p></td>
						<td><p class="context-item-name"></p></td>
						<td><button type="button"
								class="btn btn-danger btn-xs delete-context-btn"
								data-toggle="tooltip"
								title="<?=$this->translate('Delete a context') ?>"
								id="">
							<span class="glyphicon glyphicon-minus" aria-hidden="true"></span>
						</button></td>
					</tr>

					<?php
					/* create the template */
					$linkedContext[] = array('id'=>'', 'name'=>'', 'trclass'=>'context-item-prototype');
					
					foreach($linkedContext as $item):
						(isset($item['trclass'])) ? $trClass = $item['trclass'] : $trClass = 'context-item';
					?>
						<tr class="<?=$trClass?>" id="<?=$item['id'];?>">
							<td><p class="context-item-id"><?=$item['id']?></p></td>
							<td><p class="context-item-name"><?=$item['name']?></p></td>
							<td><button type="button"
									class="btn btn-danger btn-xs delete-context-btn"
									data-toggle="tooltip"
									title="<?=$this->translate('Delete a context') ?>"
									id="">
								<span class="glyphicon glyphicon-minus" aria-hidden="true"></span>
							</button></td>
						</tr>
					<?php endforeach; ?>
					
					<tr class="context-form">
						<td></td>
						<td>
						<?=$this->formElement($form->get('context'));?>
						</td>
						<td>
						<button type="button" class="btn btn-success btn-xs add-context-btn" data-toggle="tooltip" title="<?=$this->translate('Add a context') ?>"
							id="<?=$addrowBtnId?>">
							<span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
							<?=$this->translate('Add') ?>
						</button>
						</td>
					</tr>
				</table>
				</div>

				<div class="pull-right">
				<?=$this->formSubmit($form->get('submit')
					->setAttribute('class', 'btn btn-success')
					->setAttribute('id', $saveBtnId)
					);?>
				</div>
			</div>
		</div>

	</div>
</div>
<?=$this->form()->closeTag();?>

