<?php 
$this->headScript()->prependFile($this->basePath() . '/js/jquery.validate.min.js'); 
$this->headTitle($title);
?>

<?php
$form = $this->form;
$form->setAttributes(array(
		'class'=>'form-horizontal',
));
$form->prepare();
?>

<script>
$(function() {
	$(".delete-role-btn").click(function(e){
		e.preventDefault();
		var itemTr = $(this).parents('tr.role-item').first();
		var userId = itemTr.find('p.role-item-user').text();
		var roleId = itemTr.find('p.role-item-role').text();
		
		var fragmentElemt = $(this).parents('div.project-roles').first();
		var projectId = fragmentElemt.attr('id');
		
		//alert('role:'+roleId+'-user:'+userId+'-project:'+projectId);
		
		$.ajax({
			type : 'get',
			url : "<?php echo $this->url('sguser', array('action'=>'delete')) ?>",
			dataType: 'html',
			data : {
				layout:'fragment',
				projectid:projectId,
				roleid:roleId,
				userid:userId,
				successpage:"sguser/display/"
			},
			success : function(html, textStatus, jqXHR){
				var parentContainer = fragmentElemt.parent();
				fragmentElemt.remove();
				parentContainer.append(html);
			},
			error : function(data, textStatus, jqXHR){
			}
		});
	});

	$(".add-role-btn").click(function(e){
		e.preventDefault();
		
		var tr = $(this).parents('tr.role-form').first();
		var userId = tr.find('[name="user"]').val().trim();
		var roleId = tr.find('[name="role"]').val().trim();

		var fragmentElemt = $(this).parents('div.project-roles').first();
		var projectId = fragmentElemt.attr('id');
		
		//alert('role:'+roleId+'-user:'+userId+'-project:'+projectId);
		
		if(roleId=="" || userId=="" || projectId==""){
			alert("Select a role and a user");
			return;
		}
		
		$.ajax({
			type : 'get',
			url : "<?php echo $this->url('sguser', array('action'=>'add')) ?>",
			dataType: 'html',
			data : {
				layout:'fragment',
				projectid:projectId,
				roleid:roleId,
				userid:userId,
				successpage:"siergate/user/index"
			},
			success : function(html, textStatus, jqXHR){
				var parentContainer = fragmentElemt.parent();
				fragmentElemt.remove();
				parentContainer.append(html);
			},
			error : function(data, textStatus, jqXHR){
				alert(textStatus);
			}
		});
	});

});
</script>

<?php echo $content ?>

<div class="project-roles" id="<?php echo $projectId ?>">

	<h1><?php echo $this->escapeHtml($title); ?></h1>
	<?php if($projectMode==true):?>
	<div class="alert alert-warning" role="alert"><strong>Warning!</strong>The user must have a role in the Siergate module to read projects</div>
	<?php endif;?>
	
	<div class="panel-body">
		<table class="project-roles-list">
			<tr>
				<?php 
				$headers[]="";
				echo '<th><p class="" id="">#</p></th>';
				foreach($headers as $cell):
					echo '<th><p class="" id="">'.$cell.'</p></th>';
				endforeach;
				?>
			</tr>
			<?php
				foreach($items as $item):
						echo '<tr class="role-item" id="'.$item['id'].'">';
						echo '<td><p class="role-item-role">'.$item['roleId'].'</p></td>';
						echo '<td><p class="role-item-rolename">/'.$item['roleName'].'</p></td>';
						echo '<td><p class="role-item-user">'.$item['userId'].'</p></td>';
					?>
					<td>
						<button type="button" 
								class="btn btn-danger btn-xs delete-role-btn"
								data-toggle="tooltip" 
								title="<?php echo $this->translate('Delete a row to this table') ?>"
								id="">
							<span class="glyphicon glyphicon-minus" aria-hidden="true"></span>
						</button>
					</td>
				<?php echo '</tr>'; endforeach; ?>
			<tr class="role-form">
				<td>	
				</td>
				<td>	
				<?php echo $this->formElement($form->get('role')->setAttribute('class', 'form-control')->setAttribute('placeholder', 'Role'));?>
				</td>
				<td>
				<?php echo $this->formElement($form->get('user')->setAttribute('class', 'form-control')->setAttribute('placeholder', 'User'));?>
				</td>
				<td>
				<button type="button" class="btn btn-success btn-xs add-role-btn" data-toggle="tooltip" title="<?php echo $this->translate('Add a row to this table') ?>"
					id="<?php echo $addrowBtnId?>">
					<span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
					<?php echo $this->translate('Add') ?>
				</button>
				</td>
			</tr>
		</table>
	</div>
</div>

