<h1><?php echo $this->translate('An error occurred') ?></h1>

<?php if(isset($this->exception) && $this->exception instanceof Exception): ?>
<dl>
    <dt><?php echo $this->translate('Message') ?>:</dt>
    <dd>
        <pre class="prettyprint linenums"><?php echo $this->escapeHtml($this->exception->getMessage()) ?></pre>
    </dd>
</dl>
<?php else: ?>
<h3><?php echo $this->translate('No Exception available') ?></h3>
<?php endif ?>
