<?php 

$siteName= 'SIER Project Portail';


function displaylist($headers, $list, $view){?>
<table class="table">
	<tr>
		<?php
		echo '<th>#</th>';
		foreach($headers as $h):
			echo '<th>'.$h.'</th>';
		endforeach;
		echo '<th></th>';
		?>
		<?php
		foreach($list as $p):
			echo '<tr>';
			echo '<td>'.$p['id'].'</td>';
			foreach($headers as $h):
				echo '<td>'.$p[$h].'</td>';
			endforeach;
			?>
			<td>
				<div class="btn-group btn-group-xs project-btn" role="group"
					aria-label="...">

					<button type="button" class="btn btn-default enter-btn" id=""
						onclick="enterProject(<?php echo $p['id'] ?>);">
						<?php echo $view->translate('Enter') ?>
					</button>
				</div>
			</td>
			<?php 
			echo '</tr>';
		endforeach;
		?>

</table>
<?php } ?>




<script>
	function enterProject(id){
		$url="<?php echo $this->url('project', array('action'=>'consult'))?>"+id;
		window.open($url,"_self");
	}
	
	function setMode()
	{
		var mode="<?php echo $mode?>";
		
		if(mode=='consult'){
			$(".add-btn, .save-btn, .delete-btn, .build-btn, .edit-btn").hide();
			document.mode='consult';
		}
	}

	$(function(){
		setMode();
	});
	
</script>

<div class="jumbotron">
	<h1>
		<?php echo sprintf($this->translate('Welcome to %s'.$siteName.'%s'), '<span class="">', '</span>') ?>
	</h1>
</div>

<div class="row">
	<div class="col-md-12">
		<div class="panel panel-default">
			<div class="panel-heading">
				<h3 class="panel-title">
					<?php echo $this->translate('My Projects') ?>
				</h3>
			</div>
			<div class="panel-body">
				<?php displaylist($myProjectHeaders, $myProjects, $this); ?>
				<p>
					<a class="btn btn-success add-btn pull-left add-btn"
						href="<?php echo $this->url('project', array('action'=>'add'))?>">
						<?php echo $this->translate('Add') ?>
					</a>
				</p>
			</div>
		</div>
	</div>
</div>

<?php if ($mode<>'consult'):?>
<div class="row">
	<div class="col-md-12">
		<div class="panel panel-default">
			<div class="panel-heading">
				<h3 class="panel-title">
					<?php echo $this->translate('My Templates') ?>
				</h3>
			</div>
			<div class="panel-body">
				<?php displaylist($myTemplateHeaders, $myTemplates, $this); ?>
				<p>
					<a class="btn btn-success pull-left add-btn"
						href="<?php echo $this->url('template', array('action'=>'add'))?>">
						<?php echo $this->translate('Add') ?>
					</a>
				</p>
			</div>
		</div>
	</div>
</div>
<?php endif; ?>

<div class="row">
	<div class="col-md-12">
		<div class="panel panel-default">
			<div class="panel-heading">
				<h3 class="panel-title">
					<?php echo $this->translate('Help &amp; Support') ?>
				</h3>
			</div>
			<div class="panel-body">
				<p>
					<?php echo sprintf($this->translate('To get help about Rb Portail'), '') ?>
				</p>
				<p>
					<a class="btn btn-success pull-left help-btn"
						href="<?php echo $this->url('help', array('action'=>'index'))?>">
						<?php echo $this->translate('Help') ?>
					</a>
				</p>
			</div>
		</div>
	</div>
</div>
